[2020-02-05 17:50] bk3c opened #2 "Stand up Alameda staging/demo site"
- [x] Create the Alameda app directory and change some basic strings to get things started
- [x] Provision netlify and connect it up with the right app root
- [x] Stub out a listing

[2020-02-06 00:14] jacchau opened #4 "Update Alameda County Portal Content (ongoing)"
**Summary:** Update Alameda County Portal with Alameda specific content from the following content library https://docs.google.com/spreadsheets/d/1QZxvZLjunXoYV9leejKDZbBHQJ3M8gnGIlAVajPnPuM/edit#gid=85678091.

[2020-02-11 04:07] bk3c commented on #2
@jaredcwhite heads up for when you get there -- I was sort of on a roll with Netlify, so I went ahead and provisioned all of the sites including ala.bloom.exygy.dev. It might even just magically work when you merge #5 to master?

[2020-02-18 06:53] antonelitum commented on #4
I just changed the content for Disclaimer and Privacy policy as it might the following link: https://www.acgov.org/government/legal.htm
If we have the capacity, please let's add this, otherwise, we can wait until we receive final confirmation.

[2020-02-18 22:30] jacchau commented on #4
Thanks @antonelitum. @jaredcwhite, summarized updates below - please expect for another round of finalization after this update:

1. Remove Header Feedback and Footer Menu URL to old SMC Survey to blank (placeholder)
2. Link Footer Menu 3 Disclaimer to https://www.acgov.org/government/legal.htm
3. Link Foot Menu 4 Privacy to https://www.acgov.org/government/legal.htm

[2020-02-19 00:45] jacchau commented on #4
@jaredcwhite, FYI I updated the survey to an Alameda County specific one after @antonelitum 's confirmation that it was approved.

[2020-02-20 18:21] jacchau opened #9 "Update smc.bloom.exygy.dev with SMC content and listings"
Summary: Update smc.bloom.exygy.dev with SMC content from content inventory and listings

- [x] Update smc.bloom.exygy.dev based on the following content inventory https://docs.google.com/spreadsheets/d/1gDOU7Xme1sKR18fviWa-k3QFkcvFTDtlGrpVC4-sjac/edit#gid=378762150

- [x] Create individual listing jsons from listings from smc.housingbayarea.org, listings.id = 3, 7, 8 and related units, applicatio

[2020-02-20 19:01] jacchau opened #10 "Update sj.bloom.exygy.dev with SJ content and listings"
Summary: Update sj.bloom.exygy.dev with SJ content from content inventory and listings

- [x] Update sj.bloom.exygy.dev based on the following content library https://docs.google.com/spreadsheets/d/17PSCoQD5vZiy5VNw1iO4V23IHv_PP8yiAZEi1IPkE2o/edit#gid=90925465

- [x] Create individual listing jsons from listings from sj.housingbayarea.org, listings.id = 4, 5, 6, 9 and related units, application_do

[2020-02-21 22:04] bk3c opened #12 "Implement localization v1 for Alameda"
Note that we probably want to implement some of the strings into core product, since they should be the same for all jurisdictions, and then the rest can be shared between housingbayarea jurisdictions unless there's reason to think that they're county-specific. (@jacchau - sharing translations is an excellent topic for a future regional steering committee meeting from my perspective, so maybe you

[2020-02-24 19:13] jacchau commented on #4
2/24 Change log

**Updates to content library that needs to be updated on portal**

- Footer Contact 5 (link to San Mateo County Housing Portal)
- Footer Contact 6 (link to City of San José Housing Portal)

**Pending Confirmation from Alameda**

- Footer Contact 2 (Contact phone number)
- Footer Menu 2 (Contact email address)
- Main Menu 3 (Get Assistance external link)
- Privacy and Disclaimer

[2020-02-26 19:52] jacchau opened #13 "Add Corsair Flats listing for Eden Housing"
Creating issue to track the Corsair Flats listing for Eden Housing

[Eden Housing Field Request Sheet](https://docs.google.com/spreadsheets/d/120T1yS9bZcOg7Mhvq5EHxUBXlfOdREGP1QTkIZGcFn4/edit#gid=0)

[2020-03-02 19:15] jacchau commented on #4
3/2 Change log

**Updates to content library that are ready to be updated on portal**
Footer Contact 2 (Contact phone number)
Footer Menu 2 (Contact email address)

**Pending Confirmation from Alameda**
Main Menu 3 (Get Assistance external link)
Footer Menu 3 Privacy
Footer Menu 4 Disclaimer
Hero image

**Completed updates since last change log**

- Footer Contact 5 (link to San Mateo County Housi

[2020-03-06 01:16] jaredcwhite opened #19 "Rebuild Alameda footer to use newer generic footer components"
Due to upstream enhancements, we can now redo the footer for the Alameda site to use generic components from ui-components.

[2020-03-11 21:41] bk3c commented on #2
Closing this, since we have the demo site up and have been receiving feedback from Alameda.

[2020-03-11 21:41] #2 closed

[2020-03-24 18:23] jacchau opened #21 "Lock the unit feature accordions so that they're not expandable"
Given feedback from Eden Housing, the rent matrix is too complex to show for each of the 29 units. They'd prefer to show only the summary of the unit features and have the unit summary accordion locked. We've received this similar requests from Charities in SJ before as well. I think it'd be good to have a flag in the listing json to lock the unit feature accordion

As an admin,
I can lock the uni

[2020-03-25 16:53] jacchau commented on #21
@jaredcwhite , updated issue for creating a flag to toggle/ lock the unit feature accordion as discussed in standup

[2020-03-25 16:55] jacchau commented on #21
Closing this ticket in place of https://github.com/bloom-housing/bloom/issues/190 in Bloom Housing GH

[2020-03-25 16:55] #21 closed

[2020-03-25 17:03] jacchau opened #22 "Alameda: Set up View Additional Housing Resources page"
**For Alameda:**
**View Additional Housing Resources Page**
- Update Welcome Action from 'View Additional Housing Opportunities" to "View Additional Housing Details"
- Add components and content from row 193 to 240 from https://docs.google.com/spreadsheets/d/1QZxvZLjunXoYV9leejKDZbBHQJ3M8gnGIlAVajPnPuM/edit#gid=85678091 to /additional-resources

**Content Updates**
- Row 34 Footer Contact: Update

[2020-03-25 17:04] jacchau commented on #22
Drafted up the Alameda issue here fyi @jaredcwhite , I need to confirm with Antonella/ Rebecca/ Vu Bang if the doc that Rebecca drafted up is for 'Get Assistance' or /additional-resources similar to SMC's /additional-resources page https://smc.housingbayarea.org/additional-resources

[2020-03-30 23:51] jacchau commented on #22
Hi @jaredcwhite , I updated the required updates here and in the content library in the issue description. I also added two small content updates in the issue description as well. Let me know if you have any questions!

[2020-04-01 06:24] jacchau commented on #10
HI @software-project, please see 'QA Change Log' tab here https://docs.google.com/spreadsheets/d/17PSCoQD5vZiy5VNw1iO4V23IHv_PP8yiAZEi1IPkE2o/edit#gid=249966519. Thank you for pushing this forward, we are so close! I need your help to prioritize the minor content changes and then create the listing jsons in the branch for the missing listings. I can take a stab on updating the individual listing j

[2020-04-01 07:20] jacchau commented on #9
Hi @software-project , I've done the same and included QA fixes in the 'QA Change Log' tab, please prioritize these after San Jose. https://docs.google.com/spreadsheets/d/1gDOU7Xme1sKR18fviWa-k3QFkcvFTDtlGrpVC4-sjac/edit#gid=1582711949. Let's merge the PR first and then make the changes. Once you add the listing jsons (with associated units, application download fields), I can go ahead and take a

[2020-04-01 22:36] jacchau commented on #22
@jaredcwhite FYI added third bullet under content update to add hero welcome image ->

[2020-04-02 04:05] #19 closed

[2020-04-03 05:59] jacchau commented on #13
Hi @jaredcwhite, there's a request from Eden Housing to update the text for the 'What to expect' section that is not yet editable in the json. Would you be able to create a PR to update the language from:

to

[2020-04-03 07:16] jacchau commented on #10
Hi @software-project, just did a quick QA and found that (9) and (10) from this sheet needs to be fixed. I realized that I had missed the /disclaimer and /privacy page entirely. I've added these in rows (14) and (15). I will work with Ben on the process for listings so don't worry about those for now. Thank you!

[2020-04-03 07:33] jacchau commented on #9
Hi @software-project, did a quick QA here. One small update - can you update the hero title from 'San Mateo Housing Portal' to 'San Mateo County Housing Portal' please? I am hoping this should take care of 18,19, and 20 from this sheet https://docs.google.com/spreadsheets/d/1gDOU7Xme1sKR18fviWa-k3QFkcvFTDtlGrpVC4-sjac/edit#gid=1582711949.

The other comment is that the listings images on the brows

[2020-04-03 23:41] antonelitum opened #30 "Spin up the Alameda Production side ac.housingbayarea.org"

[2020-04-05 22:27] jacchau commented on #30
@jacchau reminder to add Apply Online URL Monday morning once Louis shares the link prior to go-live

[2020-04-06 16:31] #22 closed

[2020-04-07 20:53] #30 closed

[2020-04-08 08:22] #13 closed

[2020-04-08 08:24] #4 closed

[2020-04-09 20:19] jacchau opened #35 "Corsair Flats listing page resulting in 404 error in IE11"
Alameda: Check corsair flat listing on IE 10 and 11.

Note: Eden Housing is reporting that there is an issue with visiting the Corsair Landing listing on browser stack and it was giving an error after clicking 'See Details' on the browse property page.

[2020-04-09 20:22] jacchau commented on #35
I checked this on browserstack for Windows 10 and 11 and seems to validate that there is a bug when using IE (11)

[2020-04-09 20:27] jaredcwhite commented on #35
@jacchau There's a slew of things that need to get polyfilled and possibly changed in order to support IE via React. Is that still a requirement at this point in time? I know in some demographics IE usage stats are extremely low.

[2020-04-09 20:55] jacchau commented on #35
Got it, thanks for the clarification @jaredcwhite - seems like this is a known issue. Let's icebox this for now. Looking at GA for SJ and SMC DAHLIA, seems that 8-10% are from IE (6-8%) and Edge (~2%).

[2020-04-09 21:05] jaredcwhite commented on #35
Sounds good. Obviously we should strive to support all browsers generally, but IE in particular is so old and deprecated by now and only getting harder to deal with as time goes on.

[2020-04-10 22:51] antonelitum opened #37 "Set up analytics for Alameda site"

[2020-04-13 20:39] jacchau commented on #10
Going to reopen this issue as @software-project is working on a set of fixes in this QA change log https://docs.google.com/spreadsheets/d/17PSCoQD5vZiy5VNw1iO4V23IHv_PP8yiAZEi1IPkE2o/edit#gid=249966519

[2020-04-14 21:20] bk3c commented on #35
Sorry I'm late to the party on this, but my understanding is that IE11 is still a requirement, in part because it's what's still installed on a lot of SF city-owned computers. I'm going to file a bloom core issue for that, and then we can figure out what the priority needs to be.

[2020-04-17 07:04] jacchau commented on #9
@software-project reopenning this issue -After #23 was merged, where should I be QA'ing this? It seems that https://smc.bloom.exygy.dev/listings is referencing the wrong set of listings (Triton, Archer Studios, and Gish)

For example, the listing id for Triton in smc.bloom.exygy.dev/listings is https://smc.bloom.exygy.dev/listing/jsqvgvy6ejy56tncffqp8 however, the correct listing id for Triton sho

[2020-05-11 16:27] antonelitum opened #45 "Add "Oakland Housing Authority: details on the "Housing Authorities in Alameda County""
On the Section "Housing Authorities in Alameda County" please add

Resource Card 5 Header: Oakland Housing Authority
Resource Card 5 Link: http://www.oakha.org/Pages/default.aspx

[2020-05-11 16:31] antonelitum opened #46 "Add the new listing: Greystar Skylyne Listing"
This is the link to the developer' listing information: https://docs.google.com/spreadsheets/d/1KoWC9fb9hKoBuwUCZ80rod4qcjbT70l4dO1y2Lr0szg/edit#gid=0

80% of the details are completed, they should be done by tomorrow.
It would be great if we can start sharing it with them so they can see how it is display and help us with QA.

The will be done by tomorrow and they want to publish it on Friday or

[2020-05-12 16:39] bk3c opened #47 "Adjust the AMI data and deadline for Triton"
The Application Deadline for the Triton should really now be May 27, 2020 at 5:00 PM, and the revised AMI data is:

## Qualifying Income Levels

HOUSEHOLD SIZE | 1 | 2 | 3 | 4 | 5 | 6 | 7
-- | -- | -- | -- | -- | -- | -- | --
Very Low Income (50%) | $60,900 | $69,600 | $78,300 | $87,000 | $94,000 | $100,950 | $107,900
Low Income (80%) | $97,600 | $111,550 | $125,500 | $139,400 | $150,600 | $161,75

[2020-05-12 23:31] bk3c commented on #47
@software-project Note above I gave you a (very) small head start in #48.

[2020-05-13 22:16] jaredcwhite commented on #46
@antonelitum First draft is up now for QA:

https://5ebc6bb3e75fad81c93f5144--wonderful-joliot-c00737.netlify.app/listing/q3h9p31e

[2020-05-14 21:50] antonelitum commented on #46
@jaredcwhite wonderful, looking great! Thank you!
We started the review QA process with the developers. I created QA Sheet in the same [Listing spreadsheet](https://docs.google.com/spreadsheets/d/1KoWC9fb9hKoBuwUCZ80rod4qcjbT70l4dO1y2Lr0szg/edit#gid=943789941) so you can see any changes that it might be needed, column D "Currently it says", column E "It should say"
Let me know if you have preferen

[2020-05-14 22:03] jaredcwhite commented on #46
@antonelitum That sounds good. For the sake of sanity I won't push any requested changes until you let me know when they've finished the QA—other than I do want to get the Units data in here shortly.

[2020-05-14 22:50] antonelitum commented on #46
@jaredcwhite Make sense, I'll keep you posted on when QA is done.
Regrading Unit data, what do you mean by Unit data? the whole “Units Available” section is filled out.

[2020-05-14 23:22] bk3c opened #52 "Catch up the jurisdiction public apps to latest reference"
Split off from #51, since there appears we got quite far behind and I didn't want to let that PR get any bigger than it already is.

I'll add specific things that I've noticed below, but in general I think we want to have all of the apps caught up wherever it makes sense. No need to do in-progress things like the merged tech preview of applications, or anything like that.

I've had some luck today

[2020-05-14 23:28] bk3c commented on #52
I held off fixing `apps/public-reference/cypress/integration/navigation.ts` because we need to align the IDs with the listings specific to each site, so that's a todo.

[2020-05-15 00:49] jaredcwhite commented on #46
@antonelitum Oh I meant the unit summaries — it's updated now so the Studio, 1BR, and 2BR data should all be in place. New URL:
https://5ebde47ea7dc2e00061f5852--wonderful-joliot-c00737.netlify.app/listing/q3h9p31e

[2020-05-15 17:09] jaredcwhite commented on #46
@antonelitum Another update of QA improvements:
https://5ebecb3b9841f90006100015--wonderful-joliot-c00737.netlify.app/listing/q3h9p31e

[2020-05-15 22:48] bk3c opened #54 "Shrink / optimize Alameda county seal and photo assets"
I was looking into page loading times, and the seal is a pretty large file relative to the rendered size, so I was wondering if we could shrink it without too much visual noise. When looking in the images directory, I also noticed the two listings pictures looked quite large, so maybe there's an opportunity there as well.

[2020-05-18 17:27] #47 closed

[2020-05-18 22:14] bk3c commented on #9
Closing this again now that #23 is merged. I expect there are still some minor QA items (both visual and data), but we can file other issues for those as needed.

[2020-05-18 22:14] #9 closed

[2020-05-22 20:41] antonelitum commented on #45
@jaredcwhite it would be good if you can complete this during the next sprint

[2020-05-22 21:12] jaredcwhite commented on #45
@antonelitum Oh you know what, I included it along with the Skylyne updates we're wrapping up, and I forgot to make a note of it here. So that's already ready to roll.

[2020-05-28 18:58] bk3c opened #58 "Add Equal Housing Opportunity logo + language"
Companion issue to https://github.com/bloom-housing/bloom/issues/320, for Alameda and SMC specific implementations. Extra credit for getting it sorted for SJC as well.

[2020-05-29 23:29] antonelitum commented on #45
@bk3c let me know when this change will be live Rebecca asked me about it again, today. thanks!

[2020-06-01 17:34] bk3c commented on #46
Released to production this morning based on everything up to and including #56.

[2020-06-01 17:34] #46 closed

[2020-06-01 17:36] bk3c commented on #12
This isn't quite Ready for Development, but it should be within the next week or two. Alameda has selected and engaged with their vendor for translations, and we're hoping for a call with them this week to agree on a process. Note this probably depends on https://github.com/bloom-housing/bloom/pull/307 among other things.

[2020-06-01 17:39] bk3c commented on #45
This looks like it went live with #56 this morning. @antonelitum, if you can confirm that everything looks right with Rebecca then feel free to close this.

[2020-06-01 20:59] slowbot opened #59 "Update Jurisdiction Resource Pages"
- Use info-card-grid component from bloom core
   - https://github.com/bloom-housing/bloom/pull/319
- Update jurisdiction Resources pages to use the same component
   - SMC
   - Alameda

[2020-06-02 21:00] bk3c commented on #37
This is finally done in production with #56 and various configurations on the GA, GTM, and Netlify sides. Data seems to be flowing through.

[2020-06-02 21:00] #37 closed

[2020-06-03 00:31] bk3c opened #60 "Internationalize the Alameda Footer"
It appears that text strings for the Alameda footer are still hard-coded in `public-ala/components/AlamedaFooter.tsx`. With localization upcoming, we need to make sure everything is using translated strings from the JSON files.

For extra credit, align the footer approach between ALA, SMC, and SJ, whether or not we're going to split it out into its own component. I don't have a strong opinion one

[2020-06-03 00:31] bk3c commented on #60
See also #58.

[2020-06-03 00:35] bk3c commented on #45
Closing for lack of complaints.

[2020-06-03 00:35] #45 closed

[2020-06-03 16:26] bk3c opened #61 "Incorporate the availability of phone translation services for the Alameda"
Alameda requested to add their phone translation services.

As shown in B35 this is the edited text they want:
"For general program inquiries, or to access translation services for content on this website by phone, you may call Alameda County HCD at 510-670-5404."

Check B35 from the Content Inventory
https://docs.google.com/spreadsheets/d/1QZxvZLjunXoYV9leejKDZbBHQJ3M8gnGIlAVajPnPuM/edit#gid=8567

[2020-06-03 23:02] jaredcwhite commented on #58
@slowbot FYI, you can actually work on this directly here, it's not related to doing anything upstream in bloom-housing. But perhaps wait until we sort out #60 first.

[2020-06-03 23:03] jaredcwhite commented on #60
@bk3c I think the only real difference is SMC and SJ just put the footer markup in the layout file, and ALA has it broken out into a separate file/component. Prob will just merge ALA back into the layout and use the SMC/SJ footers as a guide to use the translation strings.

[2020-06-04 20:13] antonelitum opened #62 "Create San Mateo County - Bridgepointe Listings"
Here’s the listing spreadsheet: https://docs.google.com/spreadsheets/d/118riYWrwyWk7ZEIaXhqEZtHQGmJy5RRWlKsuCj4VwYs/edit?usp=sharing

They’re looking to go live on 6/17.

[2020-06-09 18:57] software-project commented on #62
@antonelitum or @bk3c I don't think I have access to S3, can someone please upload listing's image to our bucket?

[2020-06-09 19:05] bk3c commented on #62
@software-project I think we're just putting the images in the code tree for now. See for example `public-ala/public/images/corsairflats.jpg`. Obviously that's not the long term solution (I have a longer-term issue in core for image assets), but it should be fine for now.

[2020-06-09 23:20] antonelitum opened #64 "Create San Mateo 100 Grand Listing - Developer: Greystar"
Here’s the listing spreadsheet:
https://docs.google.com/spreadsheets/d/15mspbkld1Juc8DeHAnBUGqldfXTv_LV2vDvLl6XKWoU/edit#gid=0
Expected launch date:  June 17, 2020

[2020-06-10 07:22] antonelitum opened #65 "Create San Mateo Montera Listing - Developer: BRIDGE Housing"
Here’s the listing spreadsheet:
https://docs.google.com/spreadsheets/d/1yBQBzXJ5LUkQdGh5gZ16CFGV7PX4jxgw0uyrfyoxoe0/edit?usp=sharing
Expected launch date: July 1st, 2020

[2020-06-10 07:25] bk3c commented on #64
@pbn4 Do you want to take a first try at this one?

[2020-06-10 07:25] antonelitum opened #66 "Create Alameda Eastlake Apartments Listing - Developer: EBALDC"
Here’s the listing spreadsheet:
https://docs.google.com/spreadsheets/d/1xxEXN0EJvYA6iHbdESmATlV5L6aHc1b443TmicnIuuw/edit#gid=0
Expected launch date: ASAP

[2020-06-11 00:33] #58 closed

[2020-06-11 00:33] #60 closed

[2020-06-12 19:45] bk3c commented on #62
FWIW, as long as we don’t make ourselves a QA problem, I don’t think we need to flag first-come-first-serve (FCFS) separately. We can just assume that a null application deadline date means FCFS.

[2020-06-12 20:20] software-project commented on #62
@slowbot `What to expect` text is editable only per county right now, so it will change for all SMC listing. Is it what we expect?

[2020-06-12 20:40] software-project commented on #62
@bk3c, @slowbot would like it to be editable per listing for SMC. I believe it would require a change on listings model in bloom core, add column and then conditionally display that field or fallback to default translation. What to you recon?

[2020-06-16 20:59] bk3c commented on #62
@slowbot @vubang228 currently on the main SMC staging site for QA at https://smc.bloom.exygy.dev/listing/jxozy471gkeebcslfpqv1/bridgepointe_rental_condominiums_1927_bridgepointe_circle_san_mateo_ca

[2020-06-16 21:00] bk3c commented on #64
@slowbot @vubang228 Ready for QA at https://smc.bloom.exygy.dev/listing/v1stgxr8z5jdhi6bmyt/one_hundred_grand_100_grand_lane_foster_city_ca

[2020-06-17 17:03] bk3c commented on #64
@software-project ☝️

[2020-06-17 18:18] vubang228 commented on #62
@software-project  @bk3c The current state is a pre-listing, San Mateo City reviewed all they could, but we'll need to see the opened listing with a download link to the app. I updated the link to the application we'll be using in the spreadsheet. Is there a reason we went with pre-listing version of this rather than an open listing? I think I missed what I needed to show in the spreadsheet to mak

[2020-06-17 23:37] vubang228 commented on #65
@pbn4 Do we have an ETA for this? Wanted to check in because we'll need to show the developer a draft this week is possible? @bk3c

[2020-06-18 11:02] pbn4 commented on #65
@vubang228 @bk3c I created a PR for review.

[2020-06-18 17:30] vubang228 commented on #65
@bk3c Do you think we can pull a draft of this up to share with them by today or tomorrow?

[2020-06-18 20:59] vubang228 commented on #64
@bk3c @software-project Greystar has updated the spreadsheet QA documents. Minor changes it looks like. Hoping we can get this out sooner than July 1.

[2020-06-19 00:30] vubang228 commented on #64
@slowbot yes, that would be great. they confirmed via the QA tab that they want a 5PM deadline.

[2020-06-19 06:23] vubang228 commented on #64
@bk3c @software-project we've done QA on this one, please take a look and update, very minor changes (hopefully): https://docs.google.com/spreadsheets/d/15mspbkld1Juc8DeHAnBUGqldfXTv_LV2vDvLl6XKWoU/edit?usp=sharing

[2020-06-19 06:26] vubang228 commented on #62
@software-project @bk3c needs the download pdf application button on this for the city to review.

[2020-06-19 21:52] software-project commented on #64
@vubang228 I think you share a wrong link. This is the full application. Do you change just QA with requested changes?

[2020-06-19 22:30] vubang228 commented on #64
@software-project Its in the "QA" tab, you can just update those changes in that tab.

[2020-06-22 07:51] antonelitum opened #75 "Create Alameda County - Chestnut Square Family Listing - Developer: MidPen"
The developer wants this listing to be posted ASAP, they forgot to let us know before.

Here is the spreadsheet
https://docs.google.com/spreadsheets/d/1U2l4ZJLTM-zgXnwLJj2AigiTgx7dMkuFa2GbLrg3jYU/edit#gid=56577888

[2020-06-22 15:25] bk3c commented on #75
I must be missing something, since the spreadsheet looks almost entirely blank at this point (doesn't even include the property name, address, or any relevant dates). Assigning back to @antonelitum until it's a little more fleshed out (or feel free to clue me in if I'm not seeing it).

@pbn4 - heads up that I'm planning on sending this your way once the information is filled in enough to get start

[2020-06-22 15:29] pbn4 commented on #75
@pbn OK

[2020-06-22 15:58] antonelitum commented on #75
@bk3c that's correct, sorry Ben for not clarifying it before, the developer will be completing it this week we wanted to give you heads up

[2020-06-24 16:04] bk3c commented on #65
Reopening since it sounds there are items in the QA tab now.

[2020-06-24 16:53] vubang228 commented on #65
@bk3c just to clarify, they're updating this this morning, I'll notify you when they're done with QA.

[2020-06-24 17:05] vubang228 commented on #65
@bk3c OK now its ready to go. Thanks!

[2020-06-25 18:37] vubang228 commented on #64
@software-project Do we have an ETA on this?

[2020-06-25 18:39] vubang228 commented on #62
@software-project What's the eta on this one?

[2020-06-25 18:39] software-project commented on #64
@vubang228 I'm waiting for @bk3c or @jaredcwhite to review this PR: #74

[2020-06-25 19:09] bk3c commented on #62
@slowbot It's not a big deal, but every time I look at the listings screen I notice that the picture for Bridgepoint is larger and with a squarer aspect ratio than all the other images. Do we want it to be more consistent?

[2020-06-25 21:50] vubang228 commented on #65
@bk3c @pbn4 Hey guys, BRIDGE Housing just updated the application download PDF. I updated the google drive link, here it is if you need again: https://drive.google.com/file/d/1buT2rESbwrDjOZyIaiKrC7e6NzvqxWTQ/view?usp=sharing

They will also be adding a spanish version of the application next week, do we have the ability to add two download links for both languages?

[2020-06-25 22:57] vubang228 commented on #65
@bk3c @pbn4 The developers wanted me to confirm that we can have the listing up on July 1 at 8AM. Looks like they want the Spanish application up as well, which I'm trying to push back on. Can we plan to have a placeholder for the spanish translation button so its ready to go on July 1? Wendy will need some time on on Monday/Tuesday to develop the Spanish translation fyi.

[2020-06-26 00:27] bk3c commented on #65
@pbn4 note, I had a follow-up conversation with @vubang228, and they'll be able to host their own PDFs so we can just provide external links there for the English and Spanish applications with no need to host those assets themselves. I'm not sure if the links to those will be updated in the next 24 hours, but if you can just put in fake URLs so the two links show, then that should be enough to get

[2020-06-26 13:18] pbn4 commented on #65
Got it.

Ben although we got this PR merged it is not straightfoward howto  make use of rich text in description fields. Two things have not been addressed yet: "Criteria should be separated by bullet points." and developer wants program rules and required documents to contain links to other sections.

@vubang228 I'll make sure we finish it today.

The PR is here: https://github.com/housingbayarea

[2020-06-26 14:32] vubang228 commented on #65
@pbn4 if we can't do those two things, that's fine, we'll let them know its not possible when we come back to them with a draft. Thanks!!! @bk3c

[2020-06-26 17:19] antonelitum opened #77 "Update text for "Occupancy""
It should say: Occupancy: "Minimum and maximum occupancy standards for this building differ according to unit type".

[2020-06-26 18:20] bk3c commented on #65
@vubang228 I think we're ready for the next QA pass on https://smc.bloom.exygy.dev/. Links are still waiting to be updated and we're still fiddling with the bullet points as described above, but other changes should all be there.

[2020-06-26 18:28] vubang228 commented on #65
excellent thank you @bk3c @pbn4 !!!

[2020-06-26 18:40] vubang228 commented on #65
I sent this to BRIDGE and Greystar, but before I send it to the City of San Mateo, can we update the top right box? It says "386 units", should read as "3 units". And we can figure this out later, but the "waitlist closed" sounds like a closed opportunity, since there never was a waitlist. Can we use FCFS language like "Open Until Filled"? Sounds like we might need to figure out some consistent la

[2020-06-26 18:59] vubang228 commented on #62
I sent this to BRIDGE and Greystar, but before I send it to the City of San Mateo, can we update the top right box? It says "386 units", should read as "3 units". And we can figure this out later, but the "waitlist closed" sounds like a closed opportunity, since there never was a waitlist. Can we use FCFS language like "Open Until Filled"? Sounds like we might need to figure out some consistent la

[2020-06-26 18:59] vubang228 commented on #62
![Screen Shot 2020-06-26 at 11 37 13 AM](https://user-images.githubusercontent.com/66143127/85891756-8d380600-b7a4-11ea-9859-cd725863cf35.png)

[2020-06-26 19:01] vubang228 commented on #65
There's some waitlist language I need to discuss with @slowbot, for now I wanted to raise up this, which is hard to explain in the fields since this is not an editable field. We need this last paragraph removed
![Screen Shot 2020-06-26 at 11 55 40 AM](https://user-images.githubusercontent.com/66143127/85891830-b8baf080-b7a4-11ea-81ae-68466770adb6.png)

[2020-06-26 19:01] vubang228 commented on #65
@bk3c @pbn4

[2020-06-26 21:43] vubang228 commented on #65
Thank you @pbn4 @slowbot @bk3c I went through QA with the developer and updated the spreadsheet with their comments as well as included the mock ups from Jesse as well: https://docs.google.com/spreadsheets/d/1yBQBzXJ5LUkQdGh5gZ16CFGV7PX4jxgw0uyrfyoxoe0/edit?usp=sharing

[2020-06-28 23:42] vubang228 commented on #65
Just to confirm, QA is now complete with BRIDGE Housing. We are just waiting for the final spanish translated application PDF. which they will add later on the links they provided in the QA tab. @pbn4 @bk3c

[2020-06-28 23:51] vubang228 commented on #64
@software-project QA is complete for this, only one minor change, updated in the spreadsheet:

"Submit an application for an open slot on the waitlist for 1 units."

should be changed to:

"Submit an application for an open slot on the waitlist for 1 unit."

[2020-06-29 12:00] pbn4 commented on #65
@vubang228 I applied latest changes to the listing. PR is here:

https://github.com/housingbayarea/bloom/pull/79

There is also a complimentary PR in the core that improves some of our components (adds markdown supports etc.)

https://github.com/bloom-housing/bloom/pull/365

We do support bullet points in e.g. accessibility now so those are addressed now.

@bk3c We first merge core #365 and then w

[2020-06-29 20:31] vubang228 commented on #62
@slowbot that sounds good to me, I think the box is confusing and will rarely be used anyway.

[2020-06-29 21:48] vubang228 commented on #65
@pbn4 We confirmed the final language for the "AVAILABLE UNITS AND WAITLIST" box: "Once ranked applicants fill all available units, the remaining ranked applicants will be placed on a waitlist for those same units." We have everything we need now to get the next draft (and hopefully final) of the listing. Thanks! @bk3c @slowbot

[2020-06-29 21:56] software-project commented on #64
@jaredcwhite @bk3c any ideas how to handle pluralization here? My only idea is to add unit as a param and add a condition in it's value, any better once?

[2020-06-29 22:04] software-project commented on #62
@vubang228 @slowbot so we want to have an option to hide Application Status? And have text below it customizable?

[2020-06-29 22:09] vubang228 commented on #62
Hoping @slowbot can answer this? I don't quite understand this request. @software-project

[2020-06-30 12:02] pbn4 commented on #65
@vubang228 I adjusted the AVAILABLE UNITS AND WAITLIST section with one caveat, see the screenshot below:
![Zrzut ekranu 2020-06-30 o 13 58 24](https://user-images.githubusercontent.com/11684414/86123533-f89e1280-bad9-11ea-8cab-2745d79b97c8.png)
Text is missing the number of units. If I recognize correctly we don't have a mechanism for templating translations yet (@bk3c, correct?) so I decided not

[2020-06-30 17:07] vubang228 commented on #65
@pbn4 that is correct, we removed the number of units from the text. @slowbot can you confirm this looks ok? And looks like the Application Deadline info changed as well? That should read:  "Application Deadline: Jul 17, 2020 at 5:00 PM".

Are we on track to complete this by today? I'd like to send the next draft to BRIDGE this afternoon? @bk3c

[2020-06-30 19:31] pbn4 commented on #65
@vubang228 Due date shows CET in my case. Once this is reviewed merged we are ready to go. @bk3c Any comments on that?

[2020-06-30 19:45] bk3c commented on #65
It's set up to show local time based on the browser, and looks right at least for me, so I think we're set there.

[2020-06-30 19:51] bk3c commented on #64
I don't personally have any great ideas, but maybe something like this: https://github.com/airbnb/polyglot.js/issues/9?

[2020-06-30 21:40] software-project commented on #64
@vubang228 I just noticed that @pbn4 changed wording for whole SMC from `"Submit an application for an open slot on the waitlist for 1 units."` to `"Once lottery winners fill all available units, additional lottery winners will be placed on a waitlist."` That is for every listing on SMC, including 100 Grand is it something you are expecting?

[2020-06-30 22:07] vubang228 commented on #64
@software-project @pbn4 That was not what I expected unfortunately. 100 Grand should read: "Submit an application for an open slot on the waitlist for 1 unit." (note the UNIT and not UNITS).  "Once lottery winners fill all available units, additional lottery winners will be placed on a waitlist." should only be applied to Montara. @bk3c

[2020-06-30 22:49] software-project commented on #64
I'll work on a fix for that

[2020-07-07 20:17] bk3c commented on #65
Closing this because we're deployed!

[2020-07-07 20:17] #65 closed

[2020-07-07 20:23] slowbot opened #82 "Montara Post-launch Updates"
### Waitlist Text
**Old**
Once lottery winners fill all available units, additional lottery winners will be placed on a waitlist.

**New**
Once ranked applicants fill all available units, the remaining ranked applicants will be placed on a waitlist for those same units.

### Square Footage
**Old**
3 BR accordion box, 1185

**New**
3 BR accordion box, 1186

[2020-07-08 02:23] bk3c commented on #82
@slowbot I just want to confirm that this means changing the waitlist.submitAnApplication text globally for SMC -- it's not listing specific. Are we good with that?

Also, it looks like the same text is in use in Alameda -- do we want to change there as well?

(cc: @vubang228)

[2020-07-08 02:29] bk3c commented on #54
Fixed in #63.

[2020-07-08 02:29] #54 closed

[2020-07-08 03:14] bk3c commented on #59
@slowbot is this still an open issue? If so, what's the priority level from your perspective?

[2020-07-08 03:19] bk3c commented on #77
@antonelitum I lost the context for this -- where do we need the text changed? It looks correct to me for Alameda...

[2020-07-08 17:51] bk3c opened #85 "Extend Skylyne Listing to 10/1 and adjust waitlist size"
Split off from comments at the bottom of #72.

Spreadsheet is https://docs.google.com/spreadsheets/d/1KoWC9fb9hKoBuwUCZ80rod4qcjbT70l4dO1y2Lr0szg/edit

[2020-07-08 17:58] bk3c commented on #85
@slowbot the waitlist language seems to have been previously customized, but now it doesn't make sense to me:

![image](https://user-images.githubusercontent.com/975317/86953843-dd4e8b00-c109-11ea-96f7-938c3a04e748.png)

Do you remember why we did this and if it's the right thing?

[2020-07-08 18:04] bk3c commented on #52
It's certainly an evergreen task, but we've already done this a few times so closing this issue.

[2020-07-08 18:04] #52 closed

[2020-07-09 06:13] antonelitum commented on #77
@bk3c this needs to occur for all bloom site and now is happening. thanks!

[2020-07-09 06:14] antonelitum commented on #77
before, the old language from SF Dalhia was popping up.

[2020-07-10 20:58] #77 closed

[2020-07-10 21:26] bk3c commented on #61
Not sure why this didn't get auto-closed, but confirmed this was implemented successfully in #69.

[2020-07-10 21:26] #61 closed

[2020-07-16 23:04] bk3c opened #89 "Rebase housingbayarea/bloom from bloom-housing/bloom"
I am completely unexcited about doing this, and not at all clear about how we got into this situation to begin with, but it seems pretty clear that this fork has completely lost tracking the upstream versions which is making merging in upstream a persistent and significant pain.

For the first few months, everything worked fine with most merges being predominantly FFDs with maybe the occasional co

[2020-07-17 19:24] #82 closed

[2020-07-17 20:27] bk3c commented on #89
Note: I might have figured out away around this via a local merge of upstream and then a non-squashed merge of that branch. Let's see what happens the next time around 🤞

[2020-07-18 05:02] bk3c commented on #89
Looks like things are re-aligned correctly for at least the moment, so closing.

[2020-07-18 05:02] #89 closed

[2020-07-21 20:17] bk3c commented on #62
Via slack, @vubang228 let us know they want to change the monthly rent, from $2860 to $2989. I'll do a quick PR for that.

[2020-07-22 15:49] bk3c commented on #64
Launched!

[2020-07-22 15:49] #64 closed

[2020-07-22 15:49] bk3c commented on #62
Image is still oversized, but went ahead and launched.

[2020-07-22 15:49] #62 closed

[2020-07-23 00:12] antonelitum opened #97 "Create Alameda County Listing - Reilly Station - Eden Housing"
We have a new listing and would need your support to get it on time @pbn4
Here is the Spreadsheet
Developer completed 70% of it already and needs a 8/3/2020 launch
https://docs.google.com/spreadsheets/d/1WU0aDSfFrisIY9E7CBqT29OG8lpqbWTYD4IBH6OrpIg/edit?usp=sharing

Let me and Vu-bang if you have questions or are blocked with anything., Thanks

[2020-07-23 21:28] vubang228 commented on #97
@bk3c @slowbot will it be a problem not having a "Final waitlist Number" for this one? Eden Housing does not want to show it and they are ignoring my request to get it.

[2020-07-23 23:58] bk3c commented on #97
I don't have a problem with supporting waitlists of undisclosed/unspecified sizes, but I defer to @slowbot as to whether that's a good idea from an applicant / UX / standardization perspective. I expect it would be relatively straight-forward to make the relevant code changes, but at least some work.

[2020-07-24 20:38] vubang228 commented on #66
@software-project @bk3c There are minor language updates to the listing because some aspects have changes since they last inputted the fields, changes in the spreadsheet below. One big catch they had was that its a First Come First Serve listing, but the What to Expect language was not FCFS. Noted in the spreadsheet as well.

https://docs.google.com/spreadsheets/d/1xxEXN0EJvYA6iHbdESmATlV5L6aHc1b4

[2020-07-24 20:49] bk3c commented on #66
@vubang228 The what to expect language is what we came up with as the neutral version across all listing types -- in the FCFS case, "rank order" is determined by submission time.

Also, I don't think their criminal background text is correct: "Applicants will be denied for the following:1) No history of manufacturing methamhetamines on federal property and 2) No lifetime sex offender registration"

[2020-07-24 20:54] vubang228 commented on #66
@bk3c I'll correct it and run it by them to confirm. Also, I was expecting FCFS language to be similar to what we have at Bridgepoint in SMC
![Screen Shot 2020-07-24 at 1 51 52 PM](https://user-images.githubusercontent.com/66143127/88434501-26166d00-cdb5-11ea-97ac-867d3da55283.png)

[2020-07-24 20:54] vubang228 commented on #66
Yikes, I just noticed we should have that "5 days" there at Bridgepointe, I'll make a comment over there.

[2020-07-24 23:07] vubang228 commented on #66
@bk3c They confirmed the revised language is ok:

"Applicants will be denied for the following: 1) History of manufacturing methamphetamines on federal property and 2) Lifetime sex offender registration"

[2020-07-24 23:26] bk3c commented on #97
Can we use the image from here? https://edenhousing.org/properties/reilly-station/

[2020-07-24 23:32] vubang228 commented on #97
@bk3c let's use that as a placeholder? I'm pretty sure they'll want to add a rendering of the development once they get their hands on one to send over

[2020-07-27 12:05] pbn4 commented on #97
@vubang228 I applied the latest changes. @bk3c If you have any comments please let me know.

[2020-07-27 15:07] software-project commented on #66
@bk3c are you already working on this one or should I grab it?

[2020-07-27 15:11] bk3c commented on #66
@software-project Go for it

[2020-07-27 18:41] vubang228 commented on #66
@bk3c @slowbot, sorry I missed this in the FCFS language. If we're able to come up with general language for FCFS that does not include the words "rank order" that will help with clarity for the applicants and the developers, if we use Bridgepoint language and just make it more general, that sentence could be:

"Applicants will be contacted on a first come first serve basis until vacancies are fil

[2020-07-28 20:39] software-project commented on #66
@vubang228 we can't change `Application Fees` section without changing it for the whole county. Is that what they are expecting?

[2020-07-28 21:08] vubang228 commented on #66
@software-project we just talked about using global language for this section, so I'll defer to @slowbot @bk3c

I'm not sure if that's what you meant when referring to the Application Fee section, to me that section looks fine:

![Screen Shot 2020-07-28 at 2 08 27 PM](https://user-images.githubusercontent.com/66143127/88722291-d5b44d80-d0db-11ea-9bae-36c34046af8e.png)

[2020-07-29 00:56] #97 closed

[2020-07-29 21:15] vubang228 commented on #66
I wanted to check back in on this @software-project @bk3c. There are a few items that need updated that are straight forward (Credit History, Rental History, Criminal Background). For the "Application Fee section", are they able to include all that information in that section, or will we need to move that to another one?

[2020-07-30 15:45] software-project commented on #66
@vubang228 I've updated Credit History, Criminal Background. Must have missed Rental history somehow. Will prepare a PR now. As mentioned above we cant change `Application Fee section` without effecting whole county.

[2020-07-30 16:02] software-project commented on #66
uuuu just one note. As those three fields are plain old strings we can't currently add spacing within sections.

[2020-07-30 16:44] vubang228 commented on #66
@software-project sorry, I get it now. @slowbot the info they have for the "application fee" section is super important. Should we create another field for "Fee Details" or add to "Costs Not Included"? Here is the text they'd like in this section:

`$26 application fee per adult. Application fee waived for Section 8 Voucher holders. Unit Holding Fee (upon meeting tenancy requirements & before crim

[2020-07-31 06:55] vubang228 commented on #66
@software-project I caught up with @bk3c and we updated the spreadsheet and moved all the language to sections that can fit the text. So the spreadsheet is now up to date and ready for updating the system.

[2020-07-31 23:54] bk3c commented on #75
@antonelitum, @vubang228 checking back in on this listing to see if we expect to have to work on it in the next 2-3 weeks, or if we're still doing it at all? It looks like [maybe we're already past the deadline](https://www.midpen-housing.org/leaseup/chestnutsqrfamily/Chestnut_Family_DRAFT_Marketing_Flyer-FINAL.PDF).

Happy to do whatever if this is a priority, but also want to close it out if we'

[2020-07-31 23:56] bk3c commented on #85
Fixed in #86.

[2020-07-31 23:56] #85 closed

[2020-08-01 15:24] vubang228 commented on #75
@bk3c they haven't responded to 3 emails, but yes please close out since we're well past due.

[2020-08-01 16:57] #75 closed

[2020-08-06 00:42] kathyccheng opened #106 "Update San Mateo County - Bridgepointe Listings to 2020 AMI"
The listing is currently showing this
![image](https://user-images.githubusercontent.com/3453407/89477772-f5ceb700-d742-11ea-813f-aa6d9fe75f0c.png)

But the numbers should be updated to this
![image](https://user-images.githubusercontent.com/3453407/89477793-0121e280-d743-11ea-84cc-5ed30b1ec28b.png)

[2020-08-06 00:44] kathyccheng commented on #106
@bk3c added this update issue for @vubang228!

[2020-08-06 17:01] #106 closed

[2020-08-21 21:27] kathyccheng opened #108 "Create Alameda Atlas Listing - Developer: Greystar"
This is the listing spreadsheet https://docs.google.com/spreadsheets/d/1kaEN635Vu1WVHQe0sLVnPh8laaOloZElu5Ki46m0U4k/edit#gid=1787912937

Expected Launch Date: Sept 8, 2020

[2020-08-21 21:31] kathyccheng opened #109 "Create Alameda Monarch Homes Listing - Developer: SAHA"
This is the listing spreadsheet: https://docs.google.com/spreadsheets/d/1eHAiiHPTCifAK73YLgjO4roLHzz5We2kaU_MJYnMD5g/edit#gid=56577888

Expected Launch Date: 9/24

[2020-08-27 18:17] kathyccheng commented on #108
@bk3c this Greystar Atlas listing is ready to begin development!

[2020-08-27 22:59] kathyccheng opened #110 "Create Alameda 5110 Telegraph Listing - Developer: Greystar"
Listing Fields
https://docs.google.com/spreadsheets/d/1JV9OtmBctKK93hnBrl0dQdBKPE6qYnunQYlP-Zw8eD4/edit#gid=1787912937

Launch Date: 10/15

[2020-08-28 18:50] kathyccheng opened #111 "Create Alameda Jones Listing - Developer: Greystar"
Listing Spreadsheet: https://docs.google.com/spreadsheets/d/115UvIwgeJb8B8YPpBunY53lhNBZz5tXvEkKSK8sDuEI/edit#gid=56577888

This is going to be our pilot for the Common Application!

Target Launch Date:
9/8/2020

[2020-08-28 21:27] kathyccheng commented on #109
@software-project let's pause on this one for right now while I follow up on the questions you brought up in the spreadsheet and so we can focus on the two high priority Greystar listings next week

[2020-08-31 17:13] bk3c opened #113 "update Alameda privacy policy"
@kathyccheng or @vubang228 - can you put a link to the final text here, and we can get it converted and formatted for the site?

[2020-08-31 17:31] vubang228 commented on #113
@bk3c its here, I think this will be the final version, but there are some unanswered questions on zach that I want him to confirm. essentially, the county counsel in a series of comments asked a question, zach answered with some potential edits and she just went ahead and approved the whole thing. So I wanted zach to confirm. doc is here:
https://docs.google.com/document/d/11BA0ggHwSm1jtVzsneGKNK

[2020-09-01 20:08] bk3c opened #114 "add the PDF version of the Alameda Common Application"
Now that the PDF version of the Common Application for Alameda is reasonably finalized, we should add a version to `public` so that it's easy to link to.

[2020-09-01 20:09] bk3c commented on #111
@software-project it sounds like they're still trying to decide on a final image, so let's use this one from the Greystar website in the meantime: https://www.greystar.com/dfsmedia/ec6d229c550048739bb0d58403fec24c/111826-50035

[2020-09-01 21:34] kathyccheng commented on #113
@bk3c privacy policy language is finalized!
https://docs.google.com/document/d/11BA0ggHwSm1jtVzsneGKNKUhL-wX9t4G5dMqc8vUkLE/edit

[2020-09-01 21:35] kathyccheng commented on #114
[Alameda Common Application Main.pdf](https://github.com/housingbayarea/bloom/files/5158968/Alameda.Common.Application.Main.pdf)

[2020-09-01 21:36] kathyccheng commented on #114
@bk3c confirmed!

[2020-09-02 15:43] kathyccheng commented on #111
@software-project they just sent over this image: https://drive.google.com/file/d/1s1Avhns9654YMLGT7lbnGVPHKMJ2prwx/view?usp=sharing

[2020-09-02 20:13] #111 closed

[2020-09-03 04:00] kathyccheng opened #116 "Greystar Jones QA Items"
QA Items for the Greystar Jones listing, captured in the QA tab!
https://docs.google.com/spreadsheets/d/115UvIwgeJb8B8YPpBunY53lhNBZz5tXvEkKSK8sDuEI/edit?ts=5f4d37be#gid=1804508109

[2020-09-03 16:38] #116 closed

[2020-09-03 23:56] #108 closed

[2020-09-04 04:11] kathyccheng opened #120 "Update Rent Amounts in Jones Listing"
See updated rents in QA tab: https://docs.google.com/spreadsheets/d/1ZARJeVnMA6qKczM-PHni7EAlB4ts63UOufpAP-7g6iA/edit#gid=1589055975

[2020-09-04 15:49] #120 closed

[2020-09-04 16:06] bk3c commented on #66
Turns out they got the building leased up before needing it here, so it's permanently disabled in #119

[2020-09-04 16:06] #66 closed

[2020-09-04 16:14] kathyccheng opened #123 "Allow for unspecified waitlist amount for Jones"
Jones wants to show that it's a lottery and waitlist, but don't want to specify a cap on the waitlist amount. We can use what we did for Skyline.

@slowbot @bk3c can you capture what that will mean for the sidebar?

[2020-09-04 20:12] bk3c commented on #114
@kathyccheng It's not a huge deal, but can we see why the PDF is so big? >2MB for a short PDF with just small logos seems excessive to me.

[2020-09-04 20:33] #123 closed

[2020-09-04 23:28] kathyccheng opened #125 "Atlas QA Items"
Updates in QA tab here:
https://docs.google.com/spreadsheets/d/1kaEN635Vu1WVHQe0sLVnPh8laaOloZElu5Ki46m0U4k/edit?userstoinvite=marcin.jedras@exygy.com&ts=5f4d0f95&actionButton=1#gid=1804508109

Currently it says Apply Online, just want to confirm that will take to paper application link

[2020-09-04 23:28] kathyccheng commented on #125
@bk3c FYI!

[2020-09-04 23:33] kathyccheng opened #126 "Greystar QA Items"
QA updates from Greystar in tab here:
https://docs.google.com/spreadsheets/d/115UvIwgeJb8B8YPpBunY53lhNBZz5tXvEkKSK8sDuEI/edit#gid=1804508109

New items are marked in yellow!

[2020-09-04 23:41] kathyccheng opened #128 "Greystar AMI Update by Unit Type"
From Greystar --
Household max income section – I previously confirmed it was based on HUD Oakland-Fremont FMR AMI chart, but max limits are determined by attached City of Berkeley BMR Program chart. The max dollar amount are the same, but it’s actually broken down based on unit size (not household size). Is there a way to reflect max limits as chart below.

![image](https://user-images.githubuser

[2020-09-04 23:41] kathyccheng commented on #128
@bk3c FYI!

[2020-09-07 12:41] software-project commented on #128
@kathyccheng, I don't think that it's possible right now. Correct me if I'm wrong @slowbot @bk3c

[2020-09-07 15:51] #126 closed

[2020-09-07 15:53] #125 closed

[2020-09-08 16:44] kathyccheng opened #132 "[SMC] Re-create SMC Brunswick Listing"
Spreadsheet with updated values:
https://docs.google.com/spreadsheets/d/1fEMkqROkJjR_z6pWvj2XqHyQEt8g_aCJr2uhKNmu_PY/edit#gid=0

Updates:
There are no 50% AMI units available.
The 60% AMI rent is now $1,789.
The minimum monthly income limit is 2,684.
Max income limit for 1 person is $73,080
Max income limit for 2 persons is $83,520
Amenities include
* Underground parking
* Fitness center
* Large c

[2020-09-08 17:54] software-project commented on #128
@slowbot @bk3c I just want to confirm. Should I start working on this tomorrow?

[2020-09-08 18:00] kathyccheng commented on #128
@software-project I'm waiting to see what Paula says, but I think it's a safe bet for you to get started on this tmrw

[2020-09-08 20:49] kathyccheng opened #133 "Atlas Final QA Items"
**Update Mail to Email**

From Paula: We are not accepting applications in-person, they must be mailed or emailed. Can you revise to reflect email app to atlashousing@greystar.com ?

![image](https://user-images.githubusercontent.com/3453407/92526193-eb885880-f1d9-11ea-9929-8e961f09f5c1.png)

**Update to Additional Fees text captured in yellow in the QA tab:**
https://docs.google.com/spreadsheets/

[2020-09-08 20:51] kathyccheng commented on #133
@bk3c FYI!

[2020-09-08 22:02] #133 closed

[2020-09-11 18:44] kathyccheng opened #146 "Final Jones Listing Updates"
Items in yellow in QA tab:
https://docs.google.com/spreadsheets/d/115UvIwgeJb8B8YPpBunY53lhNBZz5tXvEkKSK8sDuEI/edit#gid=1804508109

* Update Application Deadline to: 10/13/2020 at 5PM
* Update Important Program Rules: Inclusionary Housing/BMR Rental Program Guidelines and Operational Manual

[2020-09-14 15:56] #114 closed

[2020-09-14 21:40] #146 closed

[2020-09-15 01:28] slowbot opened #152 "Bug: Jones: Unit Types out of Order in Multiple Tables"
Tables display unit types out of order. Should be Studio, 1 BR, 2 BR, 3 BR

Listings Page
![image](https://user-images.githubusercontent.com/13915/93154137-c0a97300-f6b7-11ea-8df5-f836192cac3d.png)

Top of Listing Rent Table
![image](https://user-images.githubusercontent.com/13915/93154202-ef274e00-f6b7-11ea-9283-1c3a734a4863.png)

Occupancy Table
![image](https://user-images.githubusercontent.com

[2020-09-15 04:55] kathyccheng commented on #109
@software-project as we're wrapping up the Jones pilot, this is the next priority listing! they're trying to launch next Monday and should have updated most of the fields by now so wanted to put this back on your radar to resume work on it

[2020-09-15 06:29] bk3c commented on #113
@dominikx96 This is still an open item for launch today, so can you give a try and getting this into MDX?

[2020-09-15 13:02] dominikx96 commented on #113
@bk3c sorry, I missed this task (I mostly used the main repo) - I'm working on it!

[2020-09-15 15:50] #128 closed

[2020-09-15 16:34] bk3c commented on #113
Fixed by #153

[2020-09-15 16:34] #113 closed

[2020-09-15 16:35] bk3c commented on #152
Fixed by https://github.com/bloom-housing/bloom/pull/669

[2020-09-15 16:35] #152 closed

[2020-09-15 20:57] kathyccheng opened #155 "Jones Telephone Update"
Update Jones Telephone number
415-793-9976

https://docs.google.com/spreadsheets/d/115UvIwgeJb8B8YPpBunY53lhNBZz5tXvEkKSK8sDuEI/edit#gid=1804508109

[2020-09-15 21:09] #155 closed

[2020-09-17 05:49] bk3c commented on #109
@kathyccheng While I was doing QA on this, I noticed there's at least one inconsistency on the spreadsheet -- on line 39, it specifies 24 available units, but on line 99, it specifies that the only unit type in the listing is on waitlist, so that doesn't line up correctly. I just left it as-is in the PR so that you and SAHA can review for other issues, but at the very least that one needs to be re

[2020-09-17 05:50] bk3c commented on #109
See also https://github.com/bloom-housing/bloom/issues/679 about the layout at the bottom of the screen, though I have somewhat of a hard time believing there are no required documents and no other program rules that applicants should be aware of...

[2020-09-17 17:06] kathyccheng commented on #109
@software-project some QA items
* Missing 2 preferences, see QA tab
* Missing credit, rental and criminal eligibility, see QA tab
* Update application deadline, see QA tab

I think this 2 units should be 24 units
![image](https://user-images.githubusercontent.com/3453407/93503613-2d498b00-f8cd-11ea-9686-b54dd9875c16.png)

I think this should be 2nd, not 2st?
![image](https://user-images.githubuser

[2020-09-17 17:24] bk3c commented on #109
@kathyccheng for your last comment, see https://github.com/bloom-housing/bloom/issues/681, since they're also in the wrong order.

[2020-09-17 20:39] kathyccheng commented on #109
These are the items I think are trickier. @bk3c @slowbot do you guys have thoughts on these (i.e. we should or should not plan to support this / real vs hacky way / what can we do by Monday?)

1. SAHA wants the rent ranges 0-1470

2. Can we have deposit also as a range 0-1470 with subtext "Deposit is equal to one month of rent"?

3. Customizing copy - can we customize these?
![image](https://user-

[2020-09-17 20:57] kathyccheng commented on #109
@slowbot thank you!

3. This is the text they provided: Housing will be offered to qualified households in waiting list order. All of the information that you have provided will be verified and your eligibility confirmed. Your application may be denied if you have made any fraudulent statements. If we cannot verify a housing preference that you have claimed, you will not receive the preference but

[2020-09-17 23:28] kathyccheng commented on #109
@software-project sorry for all the back and forth, the final QA items are in the spreadsheet here in yellow
https://docs.google.com/spreadsheets/d/1eHAiiHPTCifAK73YLgjO4roLHzz5We2kaU_MJYnMD5g/edit#gid=2062100322

* Missing 2 preferences, see QA tab
* Missing credit, rental and criminal eligibility, and building selection criteria see QA tab
* Update application deadline, see QA tab
* All 24 units

[2020-09-22 22:22] kathyccheng commented on #109
Additional QA Items @bk3c @software-project
* Rental Assistance text is showing some waitlist language, should be "All units have Project Based Section 8 Voucher assistance. Rent will be based on 30% of monthly household income, resulting in a monthly rent between $0 - $1,470."
* Deposit range should be 0-1470, not 1470-0, and can we have the subtext of deposit equal to one month's rent below the

[2020-09-22 22:26] bk3c commented on #109
@kathyccheng - I used the text that's in your comment here (3 above). Are we saying that's incorrect and should be replaced with this shorter text?

[2020-09-22 22:31] kathyccheng commented on #109
@bk3c oh yeah sorry, that was what SAHA originally provided, this shorter one is the one that Vu-Bang put together to help address the income range issue and is in the QA tab. Sorry for the confusion! But yeah use the shorter one I suggested in the previous comment.

[2020-09-22 22:38] vubang228 commented on #109
Just to clarify, I came up with the language and we OK'd this updated language with SAHA! Thanks @kathyccheng @bk3c

[2020-09-23 20:22] kathyccheng opened #160 "Final SAHA Monarch QA"
Here are the final QA items:
* Change leasing address from 3268 San Pablo Ave Oakland, CA 94608 to 3250 San Pablo Ave Oakland, CA 94608.
* Change rent from $1470 to $0

Updated in QA tab in yellow too:
https://docs.google.com/spreadsheets/d/1eHAiiHPTCifAK73YLgjO4roLHzz5We2kaU_MJYnMD5g/edit#gid=2062100322

@bk3c @software-project

[2020-09-24 00:35] kathyccheng opened #162 "Update Skylyne App Deadline and Keep Up"
Request came in from Greystar with extend the Skylyne Application Deadline and keep up through the end of the new app deadline

Current Application Deadline: Oct 01, 2020 at 5:00 PM
New Application Deadline: Nov 01, 2020 at 5:00 PM

Updated in listings spreadsheet in QA tab:
https://docs.google.com/spreadsheets/d/1KoWC9fb9hKoBuwUCZ80rod4qcjbT70l4dO1y2Lr0szg/edit#gid=943789941

FYI @bk3c

[2020-09-24 18:36] kathyccheng commented on #160
Okay @bk3c @software-project I think this is the final item. We're changing the rent to $0 because it's a sliding range from $0-1470 instead of showing the top number first

![image](https://user-images.githubusercontent.com/3453407/94185442-1faa7d00-fe5a-11ea-9c2a-024cbc4c3067.png)

[2020-09-24 18:47] #162 closed

[2020-09-24 19:48] bk3c commented on #160
@kathyccheng (cc: @slowbot) are we really sure we want to set this to $0 with no other context? I'll defer to any actual research, but it seems like it'll be mostly confusing to most users, even though I understand it'll be correct for some folks.

[2020-09-24 19:49] software-project commented on #160
@bk3c I'm looking into that bug. Rent range is not calculated correctly actually

[2020-09-24 19:51] bk3c commented on #160
Oh, perfect. Showing the range would be ideal.

[2020-09-24 20:13] software-project commented on #160
@bk3c there was a bug in min-max function 0 was taken as undefined so it got reseted. PR is ready on bloom-housing

[2020-09-24 20:27] bk3c opened #166 "Move SMC and (theoretically) SJ listings to backend-core"
It looks like everything has been going fine with serving listings from backend/core for Alameda, so I think we should go ahead and move all the other listings over to the new format so we can import them into the new backend, switch the SMC (and future SJ) site over, and then sunset the old listings service upstream.

[2020-09-25 20:46] kathyccheng opened #167 "Update Feedback Banner Copy"
To help get more people to participate in applicant user testing, can we update the feedback banner message to:
We'd love to get [your feedback](https://docs.google.com/forms/d/e/1FAIpQLScr7JuVwiNW8q-ifFUWTFSWqEyV5ndA08jAhJQSlQ4ETrnl9w/viewform)! Participate in a feedback session and you could receive a gift card for your time.

![Screen Shot 2020-09-25 at 1 42 53 PM](https://user-images.githubuse

[2020-09-28 15:28] #160 closed

[2020-09-28 15:29] #109 closed

[2020-09-28 22:48] software-project commented on #132
@kathyccheng spreadsheet suggests that there are 21 50% units, which one is correct?

[2020-09-28 23:02] kathyccheng commented on #132
@software-project I added a Update 10/2020 tab into the spreadsheet to capture what updates they want to make. Hopefully that's clearer now!

https://docs.google.com/spreadsheets/d/1fEMkqROkJjR_z6pWvj2XqHyQEt8g_aCJr2uhKNmu_PY/edit#gid=1926448597

[2020-10-01 19:01] #110 closed

[2020-10-06 20:22] #167 closed

[2020-10-06 20:26] bk3c commented on #35
Closing this in favor of the Bloom core issue, since this isn't really a jurisdiction-specific issue at this point.

[2020-10-06 20:26] #35 closed

[2020-10-09 19:23] bk3c opened #171 "Add a DMARC record for housingbayarea.org"
We should get this set up before we start having any more wide use from the domain, so that we don't have spam issues.

[2020-10-09 19:25] bk3c commented on #171
It looks like the SPF and DKIM records might not be fully configured correctly either, so verify those too.

[2020-10-09 20:44] kathyccheng opened #172 "Logan QA Items"
Latest QA Round on Logan
Trying to Launch Application by Wed 10/15

https://docs.google.com/spreadsheets/d/1JV9OtmBctKK93hnBrl0dQdBKPE6qYnunQYlP-Zw8eD4/edit#gid=1804508109

[2020-10-09 20:45] kathyccheng commented on #10
Looks like content updates were merged, closing issue

[2020-10-09 20:45] #10 closed

[2020-10-12 06:05] vubang228 commented on #172
@kathyccheng @software-project updated QA: https://docs.google.com/spreadsheets/d/1JV9OtmBctKK93hnBrl0dQdBKPE6qYnunQYlP-Zw8eD4/edit?usp=sharing

[2020-10-14 04:58] kathyccheng commented on #172
@software-project @bk3c a few updates:
* Update download URL to: https://docs.google.com/spreadsheets/d/1JV9OtmBctKK93hnBrl0dQdBKPE6qYnunQYlP-Zw8eD4/edit#gid=1804508109
* Can we remove this section?
![image](https://user-images.githubusercontent.com/3453407/95945404-4267eb80-0d9f-11eb-8418-fec34fca6bdc.png)

[2020-10-15 00:57] #172 closed

[2020-10-15 04:42] kathyccheng opened #176 "Small Fix for Logan Listing"
Can we update the Deposit formatting to $500.00 - $900.00?

![image](https://user-images.githubusercontent.com/3453407/96077982-03e93400-0e66-11eb-9156-3abe8ec4d1cd.png)

[2020-10-15 21:34] software-project commented on #176
@kathyccheng yes, we can, but it will be a global change. Is it sth we want @slowbot?

[2020-10-19 17:54] vubang228 commented on #176
@kathyccheng @software-project -
Two more updates, one is another decimal issue. The other is an update to the telephone number listed:

1. This should be listed as 1200 square feet, and not 1200.00 square feet
![Screen Shot 2020-10-19 at 10 51 59 AM](https://user-images.githubusercontent.com/66143127/96492999-42317b00-11f9-11eb-815f-43d094192cc6.png)

2. Please update the telephone number to 510-

[2020-10-21 21:49] software-project commented on #176
I've pushed a PR for number update. When it comes to square feet it's a bit bigger issue and we have to find a solution for it.

[2020-10-22 18:46] #176 closed

[2020-10-27 21:32] kathyccheng opened #181 "Extend Skylyne deadline to 12/1"
Current end date is Nov 01, 2020 5pm, we want to update to Dec 01, 2020 5pm

[2020-10-29 20:12] kathyccheng opened #183 "Logan Updates"
1. Update office hours on Logan to:
By appointment only due to COVID-19.
Please call or email during the BMR office hours – no drop-ins at this time:
Sunday and Monday – CLOSED
Tuesday 12pm to 6pm
Wednesday 1pm to 5pm
Thursday 12pm to 6pm
Friday 1pm to 6pm
Saturday 10am to 5pm
![image](https://user-images.githubusercontent.com/3453407/97627162-33607a80-19e8-11eb-9337-65b36d9260af.png)

2. Remove d

[2020-11-12 16:24] kathyccheng opened #184 "Add monitoring service for deploys"
So we can keep track of whether it's up or down

[2020-11-13 06:00] kathyccheng opened #185 "Add Greystar The Mix Listing"
Spreadsheet:
https://docs.google.com/spreadsheets/d/1G7VCjNEuHkoXgv320vJm6QsD3G8JDcHbqNxNLfAJyCA/edit#gid=56577888

Launch Date: 12/2

[2020-11-19 01:49] kathyccheng commented on #183
This is going to be irrelevant when listing closes

[2020-11-19 01:49] #183 closed

[2020-12-03 22:11] kathyccheng opened #188 "Implement Alameda Override Translations"
Implement the Alameda specific override translations
[od-12714 (1).zip](https://github.com/housingbayarea/bloom/files/5639200/od-12714.1.zip)

Use the Alameda Specific json files in each language

[2020-12-03 22:13] kathyccheng commented on #12
Closing in favor of #188

[2020-12-03 22:13] #12 closed

[2020-12-08 02:16] jaredcwhite commented on #188
This is dependent on https://github.com/bloom-housing/bloom/pull/877 getting merged in first

[2020-12-08 02:59] jaredcwhite opened #189 "Separate Readme for this repo's particulars"
It dawned on me that this repo's readme doesn't convey anything meaningful about how this repo itself is configured or how it differs in practice from the upstream bloom repo. We should update this and also specify some of the key differences such as how housingbayarea deployments use the published NPM packages for `ui-components`, etc. rather than whatever's in the monorepo itself.

[2020-12-18 14:41] #166 closed

[2020-12-23 02:28] kathyccheng opened #192 "Update SJ Pension Deadline"
Can we update the deadline on the San Jose listing to next year?
Listing: https://housing.sanjoseca.gov/listings/9
New Deadline: Dec 31, 2021 at 4:00 PM

[2020-12-23 19:09] #185 closed

[2021-01-04 16:55] kathyccheng commented on #192
Closed

[2021-01-04 16:55] #192 closed

[2021-01-08 00:47] kathyccheng opened #195 "Update Sohay Listing"
Spreadsheet: https://docs.google.com/spreadsheets/d/1G7VCjNEuHkoXgv320vJm6QsD3G8JDcHbqNxNLfAJyCA/edit#gid=1787912937

Includes:
* AMI
* Property Manager
* Final Preferences
* Application Date

For the paper application, make sure there are language links for English, Spanish, Vietnamese, Chinese. Can we look into hosting the paper applications ourselves as PDF's? Ben had put the general one up som

[2021-01-08 00:51] kathyccheng opened #196 "Connect Sohay Preferences to Application"
Final Preferences that should be in the application

**Displacee Tenant Housing Preference**
At least one member of my household was displaced from a residential property due to redevelopment activity by the Hayward Housing Authority, the Redevelopment Agency or the City of Hayward.

**Mission Boulevard Corridor (SR 238) Displacee Tenant Housing Preference**
At least one member of my household is

[2021-01-12 23:35] kathyccheng opened #199 "Adjust View Resources Language"
Update copy on Homepage and Additional Resources page

Homepage Button:
View Additional Housing Opportunities and Resources
![image](https://user-images.githubusercontent.com/3453407/104627904-74157a80-564c-11eb-9284-08fd6cb4cbcc.png)

Additional Resources Page Title:
Additional Housing Opportunities and Resources
![image](https://user-images.githubusercontent.com/3453407/104627995-8ee7ef00-564c-1

[2021-01-14 23:41] #195 closed

[2021-01-21 17:40] kathyccheng opened #201 "Sohay Updates"
See items in QA
https://docs.google.com/spreadsheets/d/1G7VCjNEuHkoXgv320vJm6QsD3G8JDcHbqNxNLfAJyCA/edit#gid=1804508109

Notes
* Round up rents down for now
* Update application dates open Feb 10, close Mar 3 5pm
* See image below for application updates
![image](https://user-images.githubusercontent.com/3453407/105389464-e0acee00-5be5-11eb-9e19-967e29fad2fd.png)

[2021-01-21 17:42] kathyccheng opened #202 "Sohay Paper Application Links"
As an applicant,
I want to see a Download button for paper applications
When I click on Download
Then I expect to see a link to each of the languages below
When I click on one of those I expect the application to download

English
s3://org-housingbayarea-public-assets/SoHay_Eng.pdf
https://org-housingbayarea-public-assets.s3-us-west-1.amazonaws.com/SoHay_Eng.pdf

Spanish
s3://org-housingbayarea-pu

[2021-01-21 22:02] kathyccheng opened #203 "Sohay Preference Translations"
Here are translations for the Preferences in SoHay

"opt_out": "I don't want to claim any of these preferences",
"opt_out": "No quiero solicitar ninguna de estas preferencias",
"opt_out": "我不想使用這些優先權",
"opt_out": "Tôi không muốn chọn bất kỳ ưu tiên nào trong số này",

"hayward_live_detail": "At least one member of my household lives in the City of Hayward",
"hayward_live_detail": "Al menos un miem

[2021-01-27 01:03] #201 closed

[2021-01-28 05:38] kathyccheng commented on #202
Closed with #204

[2021-01-28 05:38] #202 closed

[2021-01-28 06:15] kathyccheng opened #205 "SoHay QA Updates"
**Remove 3rd Preference**
![image](https://user-images.githubusercontent.com/3453407/106097797-edf63b00-6105-11eb-9b6e-d5cb4bc9cf57.png)

**Update rent amounts**
* Studio: 1251, 2503
* 1 BR: 1430, 2860
* 2 BR: 1609, 3219

**Application Close Date**
March 3, 2020 at 5pm

[2021-01-28 21:00] #205 closed

[2021-02-04 18:31] software-project opened #208 "Align Alameda 0.3 branch with previous version"
- [x] logo widths are different
- [x] unit types are not sorted
- [x] AVAILABLE UNITS AND WAITLIST different style
- [x] preferences styles are shifted
- [x] different font, border and padding on Additional Eligibility Rules
- [x] Required Documents different padding
- [x] On applications sign in on ala-dev is hidden. Should it stay hidden? Same thing with sign in button on the menu
- [x] Housing

[2021-02-05 01:21] kathyccheng opened #209 "Spanish header too long"
![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/8582aec4-fe8d-4260-a62d-0446fdbe8eb1)

Let's drop the second sentence in Spanish.

[2021-02-05 19:09] kathyccheng opened #210 "Add Open House, Public Lottery, Close Date to SoHay"
**Add Open House and Public Lottery events to SoHay listing**

_Open Houses_
3/3@2-3PM
[Click here to join the meeting](https://teams.microsoft.com/l/meetup-join/19%3ameeting_M2E0MThlMTgtNGUwMi00ODk3LWFkYTQtMmM4YzYzNTIwMTUz%40thread.v2/0?context=%7b%22Tid%22%3a%2215cb6c53-0a50-4876-a66c-9a753d760a7d%22%2c%22Oid%22%3a%2267252afa-99d8-45f9-93b0-91c740661a60%22%7d)

3/9@11AM-12PM
[Click here to join

[2021-02-05 21:24] netrabadami commented on #209
@kathyccheng  Are you saying something like this?

![Screen Shot 2021-02-05 at 1 22 34 PM](https://user-images.githubusercontent.com/58486174/107090640-55228800-67b5-11eb-8394-3ede594c532c.png)

[2021-02-11 22:33] software-project commented on #210
@kathyccheng right now we can only add one open hours. To add multiple it would require a change on the main repo as well. Do you want me to do it?

[2021-02-11 23:41] kathyccheng commented on #210
@software-project if it's a quick update, let's do it with the merge work now. Otherwise, let's just do this issue with the first Open House date and then merge it in. And we'll do the additional Open House separately.

[2021-02-16 17:09] kathyccheng commented on #196
Closed

[2021-02-16 17:09] #196 closed

[2021-02-16 17:10] kathyccheng commented on #210
Merged in #213

[2021-02-16 17:10] #210 closed

[2021-02-17 01:58] kathyccheng opened #215 "Update feedback banner text"
Remove second sentence from feedback banner text, should read "We'd love to get your feedback!"
We already removed the second sentence from Spanish and Vietnamese because it was too long, but we'll also need to remove the second sentence from the Chinese translation too

![image](https://user-images.githubusercontent.com/3453407/108145505-89415700-7099-11eb-80b9-a8c9ccdcd3ff.png)

[2021-02-17 01:59] kathyccheng opened #216 "Get Assistance repeated twice"
Remove second Get Assistance

![image](https://user-images.githubusercontent.com/3453407/108145659-cefe1f80-7099-11eb-88be-0b9817460844.png)

[2021-02-17 02:01] kathyccheng commented on #199
@netrabadami this seems to have gotten lost in the latest migration, can you take another look?

[2021-02-17 02:02] kathyccheng commented on #188
Closed with #207

[2021-02-17 02:02] #188 closed

[2021-02-17 02:02] kathyccheng commented on #209
Closed with #207

[2021-02-17 02:02] #209 closed

[2021-02-17 02:12] kathyccheng opened #217 "Add Spanish and Vietnamese to Application Language Selection"
In addition to the English and Chinese, add Spanish and Vietnamese
![Screen Shot 2021-02-16 at 3 59 45 PM](https://user-images.githubusercontent.com/3453407/108146729-b1ca5080-709b-11eb-929c-914de00262a4.png)

[2021-02-17 02:16] kathyccheng opened #218 "Remove household size validation"
Turn off the household size validation from Sohay

![Screen Shot 2021-02-16 at 6 16 42 PM](https://user-images.githubusercontent.com/3453407/108147120-5c427380-709c-11eb-87f9-c04c2fd6e794.png)

[2021-02-17 04:13] slowbot opened #219 "Update <region> label for references to Live and Work Preference to City of Hayward"
1. Primary Contact
2. Household Member Details
3. Preference Screen

[2021-02-17 04:16] slowbot opened #220 "Displaced Tenants Preferences Should be Listed as separate preferences on Listing"
Even though they are related on the backend, we should list Displaced Tenant Preferences as 1 and 2 on listing page and Live Work as 3

1. Displaced Tenant Housing Preference
2. Mission Boulevard (SR 238) Displaced Tenant Housing Preference
3. Live or Work in City of Hayward

[2021-02-17 04:42] slowbot opened #221 "Update Preference Title on SoHay (application form)"
On the Application Page, change the displacement titles from
Displaced Tenant Housing Housing Preference --> Displacee Tenant Housing Preference
Mission Boulevard Corridor (SR 238) Displaced Tenant Housing Preference --> Mission Boulevard Corridor (SR 238) Displacee Tenant Housing Preference

![image](https://user-images.githubusercontent.com/3453407/110047008-226ba100-7d1b-11eb-9f19-25c171d204ab.

[2021-02-17 06:44] kathyccheng opened #222 "Update <Region> to Hayward"
1. Contact
2. Household Member
3.  Preferences

On the contact information screen,
Do you work in <Region> should be
Do you work in City of Hayward?

![Screen Shot 2021-02-16 at 10.38.40 PM.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/d105c557-0497-41f4-9efc-41fbeb3a4e36)

On the household member screen,
Do they work in <Region> should be
Do they work in the City of Hayward?

[2021-02-17 06:50] kathyccheng commented on #219
Duplicated in #222

[2021-02-17 06:50] #219 closed

[2021-02-17 17:44] netrabadami commented on #199
@kathyccheng because the change  was on housingbayarea master and not on 0.3_alameda.I have added the changes on 0.3-alameda now.

[2021-02-17 17:59] #220 closed

[2021-02-17 19:40] kathyccheng opened #224 "Remove income validation"
From the application, remove income validation

![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/ac716512-dcd0-49b3-83db-86cd310e4929)

[2021-02-17 19:43] kathyccheng opened #225 "SoHay Application Live Work Preference Descriptions"
SoHay Application Screen for Live Work Preferences, the live and work preferences are missing descriptions

![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/faa654c7-d2ab-43d3-babd-f4c7aa496597)

Live in City of Hayward Preference
At least one member of my household lives in the City of Hayward.

Work in City of Hayward Preference
At least one member of my household works

[2021-02-17 19:46] kathyccheng opened #226 "Add descriptions for 2 displacement preferences"
Add descriptions for the displacement preferences
Fix the title for the Mission Corridor displacement preference

Displacee Tenant Housing Preference
At least one member of my household was displaced from a residential property due to redevelopment activity by the Hayward Housing Authority, the Redevelopment Agency or the City of Hayward.

Mission Boulevard Corridor (SR 238) Displacee Tenant Housi

[2021-02-17 21:24] kathyccheng opened #228 "Partners Replace General Label with Displaced Tenant"
In the Partners Portal, the Displaced Tenant Preference shows up as General. It should say **Displacee Tenant**

Add Application Screen
![image](https://user-images.githubusercontent.com/3453407/108277467-6cfbf380-7147-11eb-8573-42a1240dac40.png)

View Application Detail Screen
![image](https://user-images.githubusercontent.com/3453407/108277533-8a30c200-7147-11eb-9b40-7e4c2cd1a36e.png)

Applicati

[2021-02-17 21:31] kathyccheng commented on #221
@slowbot what do you think?

[2021-02-17 22:17] jaredcwhite commented on #226
@kathyccheng I'm working on a PR to encompass this and the other related translation issues.

[2021-02-17 22:23] jaredcwhite commented on #217
Somehow this got missed in the merge from upstream master. Fixing in my upcoming PR.

[2021-02-18 18:09] kathyccheng commented on #208
Closed in #213

[2021-02-18 18:09] #208 closed

[2021-02-25 18:02] kathyccheng commented on #216
Closed in #230

[2021-02-25 18:03] #216 closed

[2021-02-25 18:16] kathyccheng opened #235 "If user logged in, change leave error"
[Hold]

[2021-03-02 01:15] jaredcwhite commented on #228
@kathyccheng Do you mean "**Displaced** Tenant" rather than "**Displacee** Tenant"?

[2021-03-02 01:17] jaredcwhite commented on #225
Please confirm and close issue if this is done.

[2021-03-02 01:17] jaredcwhite commented on #224
Please confirm and close issue if this is done.

[2021-03-02 01:18] jaredcwhite commented on #222
Please confirm and close issue if this is done.

[2021-03-02 01:25] jaredcwhite commented on #221
I think right now it's simply "Mission Boulevard Corridor (SR 238) Displaced Tenant Housing Preference". Is that correct?

[2021-03-02 01:26] jaredcwhite commented on #221
Oh, would this be a change to the Listing data itself?

[2021-03-02 20:20] kathyccheng commented on #222
Looks good, closed in #229

[2021-03-02 20:20] #222 closed

[2021-03-02 20:21] kathyccheng commented on #225
Looks good, closed in #229

[2021-03-02 20:21] #225 closed

[2021-03-02 20:21] kathyccheng commented on #226
Looks good, closed in #229

[2021-03-02 20:21] #226 closed

[2021-03-02 20:22] kathyccheng commented on #217
Looks good, closed in #229

[2021-03-02 20:22] #217 closed

[2021-03-02 20:23] kathyccheng commented on #224
Looks good, closed in #232

[2021-03-02 20:23] #224 closed

[2021-03-02 20:23] kathyccheng commented on #218
Looks good, closed in #232

[2021-03-02 20:23] #218 closed

[2021-03-02 20:39] kathyccheng commented on #203
looks good, closed in #229

[2021-03-02 20:39] #203 closed

[2021-03-02 20:40] kathyccheng commented on #199
Looks good

[2021-03-02 20:40] #199 closed

[2021-03-03 18:34] kathyccheng opened #237 "SoHay Updates"
https://docs.google.com/spreadsheets/d/1G7VCjNEuHkoXgv320vJm6QsD3G8JDcHbqNxNLfAJyCA/edit#gid=1804508109

I highlighted the items to update in the listing spreadsheet. They include:
* Application Close Date
* Property Manager
* Min rents
* Max occupancy for all the unit types
* Public lottery date, change to just say Lottery not Public Lottery
* Open house - no date, text should be (Virtual Tours)[

[2021-03-04 23:36] kathyccheng commented on #215
Closed in #223

[2021-03-04 23:38] kathyccheng commented on #228
@jaredcwhite we're actually going to update everything to "Displacee" instead of "Displaced." @dominikx96 what do we need to do for this one?

[2021-03-04 23:56] kathyccheng commented on #228
You'll see similar updates on #237 for the listing page itself and #221 for the application page

[2021-03-04 23:58] #215 closed

[2021-03-05 01:11] kathyccheng opened #238 "Catch up San Mateo"
We have a listing hoping to use the common application coming up in San Mateo soon, can we update the San Mateo instance with all of the latest updates from Alameda including data/schema migration, application updates, listing updates, and partners portal.

[2021-03-05 01:25] kathyccheng opened #239 "[Hold] SMC: Townhouse Suites Listing with MidPen"
Listings Spreadsheet
https://docs.google.com/spreadsheets/d/11Q5VlFbr1YXG3MeWl22k7UWif-LG73CQxQW5xk2EpFc/edit#gid=1787912937

[2021-03-05 01:27] kathyccheng opened #240 "[Alameda] Alexan Weber Listing with Trammel Crow Residential"
Listings Spreadsheet:
https://docs.google.com/spreadsheets/d/10iZgWGu_77pdfJeMP96zq3LhDu9yEyWpTnP-g4xeYqA/edit#gid=1787912937

[2021-03-08 23:07] kathyccheng opened #243 "Final SoHay Updates"
**Application Due Date**
* Revise to 5PM, it says 6PM right now
![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/0e29dc5f-ad3e-4991-9fdf-18f0956aab25)

**Public Lottery**
* Revise to 11:30AM – 12PM.  Remove the word Public, should just be Lottery
![image](https://user-images.githubusercontent.com/3453407/110397052-22cbab00-803f-11eb-86b3-5abd799b82e3.png)

**Paper Applica

[2021-03-09 12:10] dominikx96 commented on #228
@kathyccheng this issue will resolve https://github.com/bloom-housing/bloom/pull/1061 when @pbn4 will merge this to the master in the main repo and next to the fork.

[2021-03-09 16:30] #237 closed

[2021-03-09 16:30] kathyccheng commented on #237
This is good!

[2021-03-09 21:01] kathyccheng commented on #243
@software-project I'm so sorry one final update! This is a PDF export error on part. But can we update the links for the paper application downloads?

English
https://org-housingbayarea-public-assets.s3-us-west-1.amazonaws.com/SoHay_English_Final.pdf

Spanish
https://org-housingbayarea-public-assets.s3-us-west-1.amazonaws.com/SoHay_Spanish_Final.pdf

Vietnamese
https://org-housingbayarea-public-as

[2021-03-10 16:51] slowbot opened #247 "Unit tables list units out of order"
Currently the units are listed, 1BR, Studio, 2BR

I would expect them to be ordered by size, Studio, 1BR, 2BR

![image](https://user-images.githubusercontent.com/13915/110666139-e6529900-817d-11eb-92e6-a6fadfb7870a.png)

![image](https://user-images.githubusercontent.com/13915/110665934-b1464680-817d-11eb-9d5f-cf9183d83a0f.png)

![image](https://user-images.githubusercontent.com/13915/110666252-fe

[2021-03-11 17:14] kathyccheng commented on #243
Closed in #244

[2021-03-11 17:14] #243 closed

[2021-03-11 17:14] kathyccheng commented on #221
Closed in #241

[2021-03-11 17:14] #221 closed

[2021-03-11 17:15] kathyccheng commented on #228
Closed in  bloom-housing#1061

[2021-03-11 17:15] #228 closed

[2021-03-11 18:43] kathyccheng opened #248 "Repo Clean Up"
master on housingbay should the same as master on bloom-core
0.3 alameda should be just alameda
clean up staging - point to alameda.exygy.dev and partners again

[2021-03-19 20:33] netrabadami commented on #239
@kathyccheng  whats the work on this? should i be preparing the listing Json from from spreadsheet and import the listing?

[2021-03-19 20:37] kathyccheng commented on #239
Yep @netrabadami you'll want to set up the JSON and then import the listing. We'll want to take a look on staging first. You might want to sync with @software-project on his efforts to catch up SMC to the new schema before prepping the JSOn

[2021-03-19 20:42] netrabadami commented on #239
Thanks @kathyccheng
@software-project can we sync on this please.

[2021-03-23 18:38] netrabadami commented on #239
@kathyccheng do we know if the listing spreadsheet is complete? i can see few values missing.
For Example:
1. Under Units section - Square Footage value is "varies" i believe we either need number or range
2. Under Units section - Floor value is  "all" - what does this mean?
3. Under Waitlist & Lottery (Availability) - Available Units are "45" - how many of them are studios? 1 Bedrooms? 2 Bedrooms

[2021-03-29 21:55] vubang228 commented on #239
@netrabadami I updated the spreadsheet to answer your questions for number 1 and 2. For the available units, we won't know that until later. Do you have enough now to create the first draft of the listing?

[2021-03-30 00:05] kathyccheng opened #250 "[Alameda] City Center Apartments by John Stewart - Listing & Application"
Listing Spreadsheet
https://docs.google.com/spreadsheets/d/1T4Ha4sub7fQjYS_9LB2QtYDbOMaSZ7X9yqxbYQDVd7M/edit#gid=1787912937

Will Use Digital Application
* Use the Live / Work in Alameda County Preference Screen

[2021-03-30 00:07] kathyccheng opened #251 "[Alameda] Nova by Alameda Community Health Care Services - Listing Only"
Listing Spreadsheet:
https://docs.google.com/spreadsheets/d/1f8usLKRfbYSIsx-h0brDS9SZZ4LwQy4DdkSQaD5Xmro/edit#gid=1787912937

Additional Details
* This listing will not use our digital application
* Instead, we want to replace the application section with something like this below
* This could be a new component (title, CTA, description text)
* We also want to hide the What to Expect section, migh

[2021-03-30 00:13] netrabadami commented on #239
@vubang228 Thank you for the updates.
 Few details are still missing e.g Application Due date , Leasing Agent Phone etc. Also i believe we can have dummy data in place.

I have the draft listing ready with the available data. i have added 45 units (27 studio, 15 one Bedroom, 3 Two Bedrooms) it can be updated once we have accurate number of units.

[2021-03-30 00:30] vubang228 commented on #239
@netrabadami we typically have them provide us 70% of the spreadsheet filled out, then we complete the draft listing to send to them to review. Then the remaining 30% is completed and we get the final listing ready. Do you think we're ready to show them this draft listing for this next step? @kathyccheng as well?

[2021-03-30 01:02] kathyccheng opened #252 "[Alameda] 1475 167th Avenue by Mercy Housing - Listing and Application"
Listing Spreadsheet:
https://docs.google.com/spreadsheets/d/1inqZ5u4SNwHskmOBCQdD4uCWxlvtDh9WvFFS-HjLJ44/edit#gid=1787912937

Application:
* Add Paper Application Links
* English - https://org-housingbayarea-public-assets.s3-us-west-1.amazonaws.com/Alameda+County+App+Eng.pdf
* Spanish - https://org-housingbayarea-public-assets.s3-us-west-1.amazonaws.com/Alameda+County+App+Spanish.pdf
* Chinese - h

[2021-03-30 01:07] kathyccheng commented on #239
@vubang228 we have to get the SMC environments set up first and then catch them up with the updates from Alameda first. once that's done, targeting this week, we can push the listing up to staging.

[2021-04-15 00:53] kathyccheng opened #255 "Sohay Lottery Results"
Add SoHay Lottery Results
Download Results should link to URL below:
https://org-housingbayarea-public-assets.s3-us-west-1.amazonaws.com/SoHay_Lottery_Results_Hayward_Final.pdf

See original issue
https://github.com/bloom-housing/bloom/issues/987

![image](https://user-images.githubusercontent.com/3453407/114812186-7d160500-9d7d-11eb-875a-ee186bdaffe5.png)

[2021-04-15 04:19] kathyccheng commented on #251
@slowbot can you mock up what the application section here should look like, where the phone number is the call to action

[2021-04-15 04:24] kathyccheng commented on #255
@pbn4 can you help update the Download Results for SoHay to this URL and push this update live on Alameda?

[2021-04-15 17:33] kathyccheng commented on #239
@software-project can you see where we're at with this and then push up to staging once SMC is caught up?

[2021-04-16 17:42] pbn4 commented on #255
Done

[2021-04-16 17:42] #255 closed

[2021-04-19 20:46] emilyjablonski commented on #251
@software-project Quick question (just knowing that you've adding a lot of our listings) - do you have recommendations for how we'd go about hiding the application fields? Do you think we need a new field on the application or can we use an existing field?

[2021-04-19 22:53] software-project commented on #251
@emilyjablonski regarding hiding application section I suppose we should work the way around ApplicationConfig. I'm not sure what happens if we don't add an application method, that controls application section. @jaredcwhite would know more about that. Regarding what to expect section, right now that field is not filled out we would default to county specific text. If this behavior is just a 'one

[2021-04-20 16:49] kathyccheng commented on #251
I feel like monkey patch solution for What to Expect should be okay for now, we should clean it up when we get to listings mgmt

[2021-04-21 02:13] kathyccheng opened #257 "[SMC] Feedback banner string broken in other languages SMC"
When I see the feedback banner in other languages, it looks like the link html is showing up.

![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/e638c66a-ab18-4fb8-bef6-333e65ddfd41)
![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/1342d030-a9ac-4580-ab9e-fd76d4fd6852)
![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/dfe1

[2021-04-29 16:59] #250 closed

[2021-05-03 16:07] kathyccheng opened #264 "[Alameda] Enable user accounts"
Enable user accounts on Alameda, I think they're commented out right now

[2021-05-03 17:25] kathyccheng opened #265 "[Alameda] Aurora Listing by Affirmed in Oakland"
This is a listing, like Nova with no application, it'll use that referral component. And it's al 30% of income.

Full LIsting Spreadsheet:
https://docs.google.com/spreadsheets/d/1qGNsJ6U1a12LsY9PMaz_VwpCLPJrYm5zHye2X1mnCmk/edit#gid=1787912937

[2021-05-03 20:13] kathyccheng commented on #239
Closing because we're no longer doing this

[2021-05-03 20:13] #239 closed

[2021-05-03 20:15] kathyccheng commented on #248
Closing

[2021-05-03 20:15] #248 closed

[2021-05-03 20:16] kathyccheng commented on #238
Closing, caught up last round, will still need to migrate listings when we get there

[2021-05-03 20:16] #238 closed

[2021-05-03 20:17] #235 closed

[2021-05-03 21:50] kathyccheng commented on #252
@software-project Mercy has QA updates ready! It's in the QA tab + we'll need to add the paper application links

[2021-05-03 21:57] kathyccheng opened #266 "[Alameda] City Center Listing Updates"
Listing Spreadsheet (see the items in the QA tab)
https://docs.google.com/spreadsheets/d/1T4Ha4sub7fQjYS_9LB2QtYDbOMaSZ7X9yqxbYQDVd7M/edit#gid=1804508109

These are the Paper Application Links
English - https://org-housingbayarea-public-assets.s3-us-west-1.amazonaws.com/Alameda+County+App+Eng.pdf
Spanish - https://org-housingbayarea-public-assets.s3-us-west-1.amazonaws.com/Alameda+County+App+Spani

[2021-05-04 15:17] emilyjablonski commented on #265
Preliminary listing data & image for this has been merged, waiting on some data feedback in the spreadsheet to continue (need # units and AMI information)

[2021-05-04 19:34] kathyccheng opened #271 "[Alameda] Enable account creation from application"
For Alameda, currently account creation section is still hidden on the application form

![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/b0cb847c-f9fa-47fe-b834-3c256380a8a6)

![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/e4c7d53d-0de2-46a3-8afe-8c5aa94449e3)

[2021-05-04 19:56] kathyccheng opened #272 "[Alameda] Change City of Hayward to Alameda County in application"
In the application, change all instances of City of Hayward to Alameda County
* Applicant contact information - do you work in City of Hayward
* Household member contact information - do they work in City of Hayward
![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/63379f6d-a62b-4516-9e7d-6f09a5fb40d5)
![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf09

[2021-05-05 15:49] #264 closed

[2021-05-05 15:50] #266 closed

[2021-05-05 15:50] #252 closed

[2021-05-06 16:27] kathyccheng opened #274 "City Center Updates"
Last round of QA for City Center
https://docs.google.com/spreadsheets/d/1T4Ha4sub7fQjYS_9LB2QtYDbOMaSZ7X9yqxbYQDVd7M/edit#gid=1804508109

Items to update highlighted in yellow or orange

[2021-05-06 20:25] kathyccheng opened #275 "Mercy Updates"
Last round of Mercy QA items ready:
https://docs.google.com/spreadsheets/d/1inqZ5u4SNwHskmOBCQdD4uCWxlvtDh9WvFFS-HjLJ44/edit#gid=1804508109

Items marked in yellow / orange

[2021-05-06 20:31] #271 closed

[2021-05-07 19:17] #275 closed

[2021-05-07 19:17] #274 closed

[2021-05-07 19:52] kathyccheng opened #277 "Update Paper Application Links for City Center and Mercy"
For City Center, update paper application links:
English: https://org-housingbayarea-public-assets.s3-us-west-1.amazonaws.com/Alameda_County_Final_English.pdf
Spanish: https://org-housingbayarea-public-assets.s3-us-west-1.amazonaws.com/Alameda_County_Final_Spanish.pdf
Vietnamese: https://org-housingbayarea-public-assets.s3-us-west-1.amazonaws.com/Alameda_County_Final_Vietnamese.pdf
Chinese: https:

[2021-05-10 15:06] kathyccheng opened #278 "Add primary resident state to CSV export"
Currently the CSV includes columns for the primary residence address street, city and zip but doesn't include a column for primary resident state. Can we add in a column for primary residence state after city?

![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/a1d9618d-4d17-4f38-ada9-bb6689a03a9a)

[2021-05-10 15:08] kathyccheng commented on #278
@pbn4 found this bug while I was testing dropping the displacement preferences, not related and I think this was here before but figure we should fix

[2021-05-10 22:49] kathyccheng opened #282 "City Center Final Update"
Update resident selection criteria link:
https://docs.google.com/spreadsheets/d/1T4Ha4sub7fQjYS_9LB2QtYDbOMaSZ7X9yqxbYQDVd7M/edit?ts=6099a8c5#gid=1804508109

[2021-05-10 23:25] kathyccheng commented on #278
@pbn4 it looks like the latest CSV export is also missing the household member detail columns. can we add that back in too?

[2021-05-10 23:28] #272 closed

[2021-05-11 07:44] pbn4 commented on #278
@kathyccheng It's missing in there because we only have  one application that I added without household members, so it's not displaying unneccesary columns. If you add an application with household member new columns will appear

[2021-05-11 15:24] #282 closed

[2021-05-11 19:24] kathyccheng opened #286 "Application Preference Update"
Currently our preferences are in one page of the application. We want to move this to multiple pages, each page based on the preference "parent" entity. So for the Coliseum listing coming up, it would look like
* one page for the Live/Work high level, where Live and Work are the subpreferences
* one page for the OHA preferences where the residency, family, veteran, etc are subpreferences

[2021-05-11 19:26] #286 closed, assigned to nobody

[2021-05-11 19:26] kathyccheng opened #287 "Next JS follow on - contextual axios instance with translation headers and county headers"
@seanmalbert can you add in details here

[2021-05-11 19:31] kathyccheng opened #288 "Preferences Update Applications"
Right now our preferences are all on one page for the application. Moving forward, we want one page for each "parent" level preference. So for example: for Coliseum listing coming up, there would be one page for the "Live/Work" type with subpreferences Live and Work, and then a separate page for the Oakland Housing Authority "preferences" with sub-preferences for Residency, Family, etc.

In this i

[2021-05-11 19:50] kathyccheng opened #290 "Final City Center Updates"
Last round of updates for City Center
Spreadsheet: https://docs.google.com/spreadsheets/d/1T4Ha4sub7fQjYS_9LB2QtYDbOMaSZ7X9yqxbYQDVd7M/edit#gid=1804508109

[2021-05-12 16:06] kathyccheng commented on #288
Closing to move to bloom core

[2021-05-12 16:06] #288 closed

[2021-05-12 19:59] seanmalbert commented on #287
This issue is either part of or a follow up to creating and using an axios instance for the public app. There are a number of individual/direct axios instances/calls coming out of the updates to the public site (e.g. see pages/listing.tsx) that should be updated to use a single client like the partner's app currently does.

For some more context there are these conversations from other issues:
htt

[2021-05-13 18:47] kathyccheng opened #296 "Final City Center Updates"
Added a few QA items, highlighted in yellow:
https://docs.google.com/spreadsheets/d/1T4Ha4sub7fQjYS_9LB2QtYDbOMaSZ7X9yqxbYQDVd7M/edit#gid=1804508109

[2021-05-13 18:49] #290 closed

[2021-05-14 15:28] kathyccheng opened #299 "Last City Center Updates"
Spreadsheet in yellow:
https://docs.google.com/spreadsheets/d/1T4Ha4sub7fQjYS_9LB2QtYDbOMaSZ7X9yqxbYQDVd7M/edit#gid=1804508109

* Turn waitlist size back off (I'm sorry @software-project!)
* Update application deadline date, hopefully final date

[2021-05-17 15:32] software-project commented on #299
@kathyccheng I think we can close this one, right?

[2021-05-17 15:32] kathyccheng commented on #299
Yep!

[2021-05-17 15:32] #299 closed

[2021-05-17 15:32] software-project commented on #296
@kathyccheng, this one can be closed as well I believe?

[2021-05-17 15:53] #296 closed

[2021-05-20 16:03] kathyccheng opened #306 "Add HOPWA question to Coliseum"
Title: Housing Opportunities for Persons with AIDS

Description: There are apartments set-aside for households eligible for the HOPWA program (Housing Opportunities for Persons with AIDS), which are households where a person has been medically diagnosed with HIV/AIDS. These apartments also have Project-Based Section rental subsidies (tenant pays 30% of household income).

Choose text: Please indic

[2021-05-24 15:26] kathyccheng opened #307 "[Alameda] Skylyne - Greystar Updated Listing with Applications"
Add new Skylyne listing

Updated Listing Spreadsheet:
https://docs.google.com/spreadsheets/d/1KoWC9fb9hKoBuwUCZ80rod4qcjbT70l4dO1y2Lr0szg/edit#gid=1689019128

Notes
* Keep old Skylyne listing around in the closed state
* This new one will take applications

[2021-05-26 15:21] kathyccheng opened #311 "Final Mercy QA Items"
QA items in yellow in spreadsheet:
https://docs.google.com/spreadsheets/d/1inqZ5u4SNwHskmOBCQdD4uCWxlvtDh9WvFFS-HjLJ44/edit#gid=1804508109

[2021-05-27 16:12] kathyccheng opened #316 "Coliseum QA Items"
Items in the QA tab:
https://docs.google.com/spreadsheets/d/138YVmOv4NeXVq_BgC9h8n2nKefzk-zytUZcyDO62Wzw/edit#gid=1804508109

[2021-05-28 18:47] #306 closed

[2021-05-28 18:48] #316 closed

[2021-05-28 18:50] kathyccheng commented on #311
@software-project Final set of QA items here:
https://docs.google.com/spreadsheets/d/1inqZ5u4SNwHskmOBCQdD4uCWxlvtDh9WvFFS-HjLJ44/edit#gid=1804508109

* Add building selection criteria link
* Update rent and minimum rent for the 50% and 60% AMI units

[2021-05-29 00:11] jaredcwhite opened #327 "Hero image missing for Alameda"
Looks like it got dropped by accident in this commit: https://github.com/housingbayarea/bloom/commit/d0456cf8a200a1ddedecd21bbe496ef857a23536#diff-3de564d4b9aa19ea81296251c2f31ca6871edf5ff3413a6395dc76e15fe9091d

In `sites/public/pages/index.tsx`, the hero should be pointing to this: https://housing.acgov.org/images/hero-background.jpg

[2021-06-06 16:23] #251 closed

[2021-06-06 16:23] #265 closed

[2021-06-07 21:14] kathyccheng opened #332 "Final Mercy QA Items"
Items captured in yellow in the QA tab:
https://docs.google.com/spreadsheets/d/1inqZ5u4SNwHskmOBCQdD4uCWxlvtDh9WvFFS-HjLJ44/edit#gid=1804508109

[2021-06-09 15:44] #311 closed

[2021-06-09 21:13] kathyccheng commented on #332
@emilyjablonski next round here: https://docs.google.com/spreadsheets/d/1inqZ5u4SNwHskmOBCQdD4uCWxlvtDh9WvFFS-HjLJ44/edit#gid=1804508109

[2021-06-09 21:56] #247 closed

[2021-06-14 21:00] kathyccheng opened #337 "[Alameda] Jordan Court Listing with SAHA"
Listing Spreadsheet:
https://docs.google.com/spreadsheets/d/1-M386fCqfexw-uT1JKbs_zWJhZuAVdEyV0Zg11wVPhY/edit#gid=1787912937

[2021-06-14 21:01] kathyccheng commented on #332
@emilyjablonski can you take a look at the last set up dates here?
https://docs.google.com/spreadsheets/d/1inqZ5u4SNwHskmOBCQdD4uCWxlvtDh9WvFFS-HjLJ44/edit#gid=1804508109

[2021-06-14 21:22] kathyccheng opened #338 "Updates to Nova and Aurora Referral Text"
Both Nova and Aurora would like to update their referral text. They're both currently live listings. I've included the listing spreadsheets and the new copy below.

Nova:
https://docs.google.com/spreadsheets/d/1f8usLKRfbYSIsx-h0brDS9SZZ4LwQy4DdkSQaD5Xmro/edit#gid=1804508109

Aurora
https://docs.google.com/spreadsheets/d/1qGNsJ6U1a12LsY9PMaz_VwpCLPJrYm5zHye2X1mnCmk/edit#gid=1804508109

New Text:
Th

[2021-06-15 17:27] #332 closed

[2021-06-15 17:40] #338 closed

[2021-06-16 15:28] software-project commented on #337
@kathyccheng I think the link to spreadsheet is wrong. It looks like Mercy.

[2021-06-16 15:35] kathyccheng commented on #337
@software-project oops! updated

[2021-06-21 15:40] kathyccheng commented on #307
@software-project we've got some additional updates on Skylyne! It's in the listing fields May tab, QA items are in yellow

https://docs.google.com/spreadsheets/d/1KoWC9fb9hKoBuwUCZ80rod4qcjbT70l4dO1y2Lr0szg/edit#gid=1689019128

[2021-06-22 16:29] kathyccheng commented on #307
@software-project here are the paper application links:

English
https://org-housingbayarea-public-assets.s3.us-west-1.amazonaws.com/Alameda+Application+Skylyne+ENG.pdf

Spanish
https://org-housingbayarea-public-assets.s3.us-west-1.amazonaws.com/Alameda+Application+Skylyne+SPANISH.pdf

Vietnamese
https://org-housingbayarea-public-assets.s3.us-west-1.amazonaws.com/Alameda+Application+Skylyne+VIET.p

[2021-06-22 17:53] kathyccheng commented on #240
Screenshot

![image](https://user-images.githubusercontent.com/3453407/122975288-320e0480-d361-11eb-85e6-2a7e7732bca8.png)

[2021-06-22 21:34] kathyccheng opened #345 "Close Nova Listing"
Nova listing is all filled up. Can we move the listing to closed?

[2021-06-23 15:52] #345 closed

[2021-06-24 15:53] kathyccheng commented on #240
@software-project next round of QA on Alexan Weber here:
https://docs.google.com/spreadsheets/d/10iZgWGu_77pdfJeMP96zq3LhDu9yEyWpTnP-g4xeYqA/edit#gid=1804508109

[2021-06-24 17:49] #287 closed

[2021-06-25 16:01] kathyccheng opened #348 "Add special notes text to aurora"
Add this text into the Special Notes field for the Aurora listing which is currently live. Currently there are no Special Notes on the listing.

This opportunity is reserved for Special Needs, which for this property is defined as individuals experiencing homelessness.

[2021-06-25 16:02] kathyccheng opened #349 "Add Special Notes text to Aurora"
For the listing Aurora, which is currently live, we want to add the following text into the Special Notes field. Currently, there are no special notes.

This opportunity is reserved for Special Needs, which for this property is defined as individuals experiencing homelessness.

[2021-06-25 16:22] kathyccheng commented on #307
@software-project one more item in QA to update the leasing agent and then can we repush to staging with the unit availability fix pushed through so we can see the 2br information?

**QA item in yellow**
https://docs.google.com/spreadsheets/d/1KoWC9fb9hKoBuwUCZ80rod4qcjbT70l4dO1y2Lr0szg/edit#gid=1689019128

[2021-06-30 15:32] #349 closed

[2021-07-01 02:32] kathyccheng commented on #240
@software-project latest round of Alexan Weber Updates
https://docs.google.com/spreadsheets/d/10iZgWGu_77pdfJeMP96zq3LhDu9yEyWpTnP-g4xeYqA/edit#gid=1804508109

* Change copy on neighborhood
* Update Rent Maximums
* Remove Preferences (Sorry!)
* Update paper application links below

English
https://org-housingbayarea-public-assets.s3.us-west-1.amazonaws.com/Alameda+Applications+English.pdf

Spanish

[2021-07-12 15:02] kathyccheng commented on #337
@software-project next round of Jordan Court updates are ready in the QA tab here:
https://docs.google.com/spreadsheets/d/1-M386fCqfexw-uT1JKbs_zWJhZuAVdEyV0Zg11wVPhY/edit#gid=1804508109

[2021-07-12 15:13] kathyccheng commented on #337
@software-project here is what the Jordan Court Berkeley Housing Authority preference should look like:

![image](https://user-images.githubusercontent.com/3453407/125311809-b2d97400-e301-11eb-8bf7-950b3b8abf7d.png)

Title: Berkeley Housing Authority
Description (LIsting Detail Page): Project-based voucher units funded by the Berkeley Housing Authority

Application Page in Preferences
Select Text:

[2021-07-12 15:24] kathyccheng opened #351 "[Alameda] City Center Lottery Results"
Add this lottery result URL to City Center Listing. The lottery results section should show up on the closed listing.
https://org-housingbayarea-public-assets.s3.us-west-1.amazonaws.com/City+Center+-+AC+Housing+Portal+Posting+Lottery+Results+7.9.21.pdf

[2021-07-13 16:09] software-project commented on #348
@kathyccheng I think this one is done

[2021-07-13 16:44] kathyccheng commented on #348
Yes closing

[2021-07-13 16:44] #348 closed

[2021-07-15 17:32] kathyccheng commented on #351
In production already

[2021-07-15 17:32] #351 closed

[2021-07-21 14:52] kathyccheng commented on #327
@jaredcwhite is this fixed?

[2021-07-21 15:02] jaredcwhite commented on #327
@kathyccheng doesn't appear to be!

[2021-07-21 15:28] #240 closed

[2021-07-23 15:47] kathyccheng commented on #307
Closing because it's on hold for now as management of Skylyne is changing companies

[2021-07-23 15:47] #307 closed

[2021-07-23 15:47] kathyccheng commented on #337
@software-project here is another round of QA updates for Jordan Court

https://docs.google.com/spreadsheets/d/1-M386fCqfexw-uT1JKbs_zWJhZuAVdEyV0Zg11wVPhY/edit#gid=1804508109

[2021-08-03 15:30] kathyccheng opened #356 "Final Jordan Court QA"
**1. On staging, there are currently two Jordan Court Listings**

Delete
https://ala.bloom.exygy.dev/listing/42463fc6-e996-454a-ab97-8f7e76c07f25/jordan_court_1601_oxford_street_berkeley_ca

Keep and use this as a base
https://ala.bloom.exygy.dev/listing/51e279bf-8c5f-4427-ad90-7a3628137048/jordan_court_1601_oxford_street_berkeley_ca

**2. Listings Spreadsheet, there are a couple of remaining item

[2021-08-03 15:31] kathyccheng commented on #337
Slew of Final items captured in #356

[2021-08-10 22:28] kathyccheng commented on #356
@emilyjablonski they came back with one additional item only and we won't have a paper application? Could we push this up to staging as soon as possible?

Adding text under office hours:

https://docs.google.com/spreadsheets/d/1-M386fCqfexw-uT1JKbs_zWJhZuAVdEyV0Zg11wVPhY/edit#gid=1804508109

[2021-08-11 18:42] kathyccheng commented on #356
Actually @emilyjablonski can we update the application due date to Sept 8 since it's already closed for final testing purposes?

[2021-08-13 22:08] kathyccheng opened #360 "Final Jordan Court Listing Fix"
Update the application due date to Sept. 1, 2021 at 5pm

https://docs.google.com/spreadsheets/d/1-M386fCqfexw-uT1JKbs_zWJhZuAVdEyV0Zg11wVPhY/edit#gid=1804508109

[2021-08-23 15:44] kathyccheng commented on #337
Closing this original one

[2021-08-23 15:44] #337 closed

[2021-08-23 15:44] kathyccheng commented on #356
Closing this one, final updates captured in #360

[2021-08-23 15:44] #356 closed

[2021-08-25 16:29] kathyccheng opened #364 "Migrate San Mateo Listings"
Notes
* It's been a while since we've migrated San Mateo listings over

[2021-08-26 00:08] kathyccheng opened #366 "Loro - Eden Customizations"
**Customizations Needed**
* Are there any new preferences?
  *  No
* Are there any new AMI charts?
  * Yes, HUD 2021 (Vu-Bang, can we get the chart + title)
* Are there any new community types?
  * Yes, Veterans (Vu-Bang can we confirm this is actually a community type?)
  * I spoke with Vu-Bang and this is not a community but either a priority or referral
* Is there a building criteria document?

[2021-08-27 14:32] kathyccheng opened #367 "Starling - Eden - Customizations"
**Customizations Needed**
* Are there any new preferences?
  *  Live or Work in City of Alameda

Add new preference to the list:

Title: Live or Work in the City of Alameda
Description (Listing Page): At least one member of my household lives or works in the City of Alameda
Live Description: At least one member of my household lives in the City of Alameda
Work Description: At least one member of m

[2021-09-01 22:37] jaredcwhite opened #368 "Ala: Missing translations for Additional Housing Opportunities"
All the pages are just showing English text, for example:
https://housing.acgov.org/es/additional-resources

I actually fixed this testing something else on upstream Bloom, so I'll submit a PR.

[2021-09-02 23:39] vubang228 commented on #366
Not accepting paper applications, please remove the "drop off paper application" option.
![Screen Shot 2021-09-02 at 4 38 38 PM](https://user-images.githubusercontent.com/66143127/131929281-b664fcdf-2945-424f-b573-48fc6a181a97.png)

[2021-09-03 00:03] vubang228 commented on #366
I'm getting their HUD AMI chart and their building criteria doc as well. Should I be tagging you @seanmalbert?

[2021-09-23 16:24] kathyccheng commented on #366
Customizations:

AMI Chart
![Screen Shot 2021-09-21 at 6 56 32 PM](https://user-images.githubusercontent.com/3453407/134545699-66311478-9f04-4968-a4bf-a5465d8288f7.png)

Application Type:
Digital Application - Need to show button on preview

Office Hours Text:
Monday-Friday 10 am to 4pm. Please call the leasing office at (510) 697-6310 to schedule an appointment during office hours. Persons with d

[2021-09-23 17:37] kathyccheng commented on #368
Closed in latest resource update

[2021-09-23 17:37] #368 closed

[2021-09-23 19:16] seanmalbert commented on #366
@kathyccheng , I made the updates and @vubang228 reviewed. https://housing.acgov.org/preview/listings/21c584a4-9239-4bc7-968a-79c9b1051175

[2021-09-27 20:34] kathyccheng commented on #366
Pushed live! Closing

[2021-09-27 20:34] #366 closed

[2021-10-01 16:54] seanmalbert commented on #367
This is up and assigned to Starling Eden - https://partners.housingbayarea.org/listings/82199cf6-bb64-471b-8498-6f1c258af3e2

[2021-10-01 17:06] kathyccheng commented on #367
@seanmalbert preference on listing looks good! here are some issues on the application management side

1. Claimed Live/Work in the CITY of Alameda preference doesn't show up in the application summary

It looks like it's saving okay in the database, but I can't fully interpret the preference storage
Here's my test application for testing: confirmation number: f7f58e4e-3554-420d-a28e-035dae348b3d,

[2021-10-01 22:26] kathyccheng commented on #367
@seanmalbert updated office hours language:
Monday-Friday 10 am to 4pm. Please call the leasing office at 510-499-2491 to schedule an appointment during office hours. Persons with disabilities have the right to request reasonable accommodations. Reasonable Accommodations will be submitted to the 504 Coordinator for Eden Housing by phone (510) 697-6310; TTY number 1-(800) 735-2922, by fax at (510)

[2021-10-05 15:48] kathyccheng commented on #367
Closing, live

[2021-10-05 15:48] #367 closed

[2021-11-29 19:42] kathyccheng commented on #364
Closing, handled manually

[2021-11-29 19:42] #364 closed

[2021-11-29 19:46] kathyccheng commented on #132
Closing, can be done in listings mgmt

[2021-11-30 16:49] kathyccheng opened #377 "Add Programs to CSV Export"
**Acceptance Criteria**
* When I download the CSV Export, I will see the program questions if they're on the listing

[2021-11-30 17:33] kathyccheng commented on #377
Closing, wrong repo

[2021-11-30 17:33] #377 closed

[2021-12-10 23:59] jaredcwhite commented on #327
Blast from a past…is this something we should address? Or has that ship sailed at this point? @kathyccheng

[2022-03-17 21:01] #257 closed

[2022-04-13 16:14] kathyccheng opened #393 "Alameda - Missing Translations + Filipino"
**Notes**
* Add translations for Alameda County for the new homepage, how it works, what to expect work that Jared's been doing
* Whoever gets here first also probably needs to add Filipino to Alameda languages
* I also realized that the application translation updates were actually done in Core, so you might need to separate out an issue for that

[Spanish](https://docs.google.com/document/d/1B53

[2022-04-13 16:28] kathyccheng opened #394 "Alameda - Add content updates to what to expect"
https://docs.google.com/document/d/1czPz_CgcnoaIBq19CofHFFlKgoXptzhho1SbNcteOMw/edit#heading=h.ic9u69uba1zz

(updates to this page: https://ala.bloom.exygy.dev/how-it-works)

[2022-04-15 21:40] jaredcwhite opened #395 "Alameda - additional copy in application confirmation page"
This is to re-add the "Prepare for Next Steps" section which we didn't want in core. https://github.com/bloom-housing/bloom/issues/2510

[2022-04-26 20:00] kathyccheng opened #400 "Alameda - City of Fremont Preference"
**Notes**
* Add a new preference in the jurisdiction of Alameda
* The italicized text is what should go into the read more

https://docs.google.com/document/d/1dSw8dNlG9q2wF9KV7aIPpUH9X-hG6MiY3UEhIBoT6ck/edit?usp=sharing

QA NOTES
Navigate to https://hba-partners-dev.netlify.app/ and verify that under alameda jurisdiction the new preference is available to add to a listing

Add preferences to a li

[2022-04-27 16:15] kathyccheng opened #401 "SJ - New Resource"
**Acceptance Criteria**
* When I am on the SJ Resources page, then I expect to see the following design

**Notes**
* Move Bay Area Doorway Portals category up to the top of the page (currently it's on the bottom)
* Update the description text underneath to include a new first sentence - including updating the translations
* Add one new resource for How It Works - there are translations for the tex

[2022-05-03 17:44] kathyccheng commented on #394
@jaredcwhite a few updates, otherwise looking good!

Homepage
Update titles for
![image](https://user-images.githubusercontent.com/3453407/166509057-f797b74c-a3ed-4dc8-a2da-afd38ccc693e.png)

In Income Requirements, under 2) Check Eligiblity, update "ross" to "gross". That was our bad, typo in the source material

![image](https://user-images.githubusercontent.com/3453407/166509376-b8e0639d-364b-4

[2022-05-10 01:17] kathyccheng opened #403 "Alameda - Resources Update"

[2022-05-10 15:43] kathyccheng opened #405 "Alameda - Update for South Alameda Preference"
**Notes**
* Add this description to the South Alameda preference - highlighted in yellow

https://docs.google.com/document/d/15R_-W1dvl7_ZzxS0REQKvXLGvwCokskQDIV1pKEfUqQ/edit

**QA NOTES**
Head to https://hba-partners-dev.netlify.app/sign-in
add the South Alameda Preference to a listing

Head to https://hba-public-dev.netlify.app/
On the detail page for that listing, and verify that the new text i

[2022-05-10 21:32] YazeedLoonat commented on #405
Hey @seanmalbert could you take a peek at this, I attached the query and made the change on hba-dev since this is all postgres no actual code

[2022-05-10 23:06] sheneral commented on #403
### **IMMEDIATE HOUSING ASSISTANCE**
Add string below the section heading:
`If you're fleeing domestic violence, sexual assault or human trafficking and in immediate danger, call 911.`

1. **Update description** for "211 Alameda County Resource Finder" to

 `If you are in need of immediate emergency shelter and housing assistance, please contact Eden Information & Referral at 211 or the Bay Area H

[2022-05-11 15:29] kathyccheng commented on #394
LGTM

[2022-05-11 15:29] #394 closed

[2022-05-11 19:34] kathyccheng opened #407 "SJ - Update email copy for SJ Welcome to Partners Email"
Add to Subject Line: Welcome to the Partners Portal: {Jurisdiction Name}

![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/256a95ad-d55d-48c1-8da1-504e26eca82e)

[2022-05-11 19:55] kathyccheng opened #408 "SJ - Update Contact on Resources Page"
On San Jose Resources page, in the contact section update second paragraph of contact text to below:

"For general program inquiries, you may call the Housing Department at 408-535-3860 or email sjhousingportal@sanjoseca.gov"

![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/29e901d0-fd3a-4519-9411-99f24a7e9617)

[2022-05-11 22:21] #407 closed

[2022-05-12 15:11] kathyccheng opened #409 "Resource Format Update - Ala, SJ, SMC"
In each jurisdiction, update the format of the resources page to the new one we started in Detroit

Notes
* Right now, big markdown file. In Detroit, we updated to actual component that imports the markdown files. Moves us closer to adding in cards via Partners.
* Basic thing in Core and then more filled out

QA notes for SMC:
Start at the link below, look over the layout and each card in comparis

[2022-05-13 20:48] kathyccheng opened #410 "Alameda - City of Emeryville Preference"
https://docs.google.com/document/d/1_DZfjgwXkfK_vvIUCmNVyVaRG7aGv_9T4yHvG7u22hE/edit

**QA NOTES**
Head to https://hba-partners-dev.netlify.app/
verify that the new Emeryville preference is available to add to a listing
add the preference to a new or existing listing

Head to https://hba-public-dev.netlify.app/
verify that the new preference is on the listing that you added it to on the previous s

[2022-05-16 16:05] seanmalbert commented on #401
@sheneral , you can QA the resource updates on staging at https://sj.bloom.exygy.dev/additional-resources.

[2022-05-16 19:14] sheneral commented on #405
Description is pulling in the question from the application process "Does anyone in your household satisfy..."

On public facing listing page: correct description is there in addition to the question
![Screen Shot 2022-05-16 at 11 56 02 AM](https://user-images.githubusercontent.com/100251192/168665296-f729b2d7-39fd-475e-9e67-d3645cef6d99.png)

On listing editor, description shows up as the questio

[2022-05-16 19:18] sheneral commented on #400
Hmm I'm not seeing the preference on https://hba-partners-dev.netlify.app/ ? @YazeedLoonat

[2022-05-16 19:19] sheneral commented on #410
Not seeing the city of Emeryville preference on https://hba-partners-dev.netlify.app/? @YazeedLoonat
![Screen Shot 2022-05-16 at 12 18 59 PM](https://user-images.githubusercontent.com/100251192/168666312-393a71ae-66a7-4750-a36e-db20532896e9.png)

[2022-05-16 19:33] jaredcwhite commented on #393
FYI, it looks like Alameda still has its own updated design for the What to Expect step & Terms step in the application forms flow, so I'll just update that here rather than core.

[2022-05-17 17:43] sheneral commented on #401
Looks good!

[2022-05-17 17:43] #401 closed

[2022-05-17 19:39] sheneral commented on #400
Looks good!

[2022-05-17 19:39] #400 closed

[2022-05-17 21:49] sheneral commented on #405
Confirmed with Kathy, should have the description text wherever possible, and not the question "Does anyone in your household..." which is a question leftover from the paper application.

Looks good!

[2022-05-17 21:49] #405 closed

[2022-05-17 21:57] sheneral commented on #403
Hi @ColinBuyck - Translations are in for the content update: https://docs.google.com/spreadsheets/d/15yogUJEZ9BwdUKiHcyNHMh7QCOitFwZu/edit#gid=1330004921

[2022-05-18 00:31] sheneral commented on #410
Looks good for the most part. There is no description for this one though, and we can get rid of the question also @YazeedLoonat -- confirmed with Kathy

![Screen Shot 2022-05-17 at 5.29.30 PM.png](https://images.zenhubusercontent.com/622f87292316976540c8d5bd/02b66557-658f-4ec6-9941-f80dc76c1774)

[2022-05-18 05:24] jaredcwhite commented on #393
I discovered that the work in Core for https://github.com/bloom-housing/bloom/pull/2558 isn't yet in Alameda, so I'm not sure exactly what the sequence of events should be here. Merge that code in now? Or wait and merge it in part of the added translations work captured in bloom-housing/bloom#2734?

[2022-05-18 19:21] YazeedLoonat commented on #410
@sheneral got this updated per your note if you would like to peep one more time please

[2022-05-18 23:27] seanmalbert commented on #408
QA on https://sj.bloom.exygy.dev/

[2022-05-18 23:36] sheneral commented on #408
Looks good!

[2022-05-19 05:46] jaredcwhite commented on #393
Seems like the best idea is to tackle this all at once, so I'll finish up this issue and the https://github.com/bloom-housing/bloom/issues/2734 stuff, and then see if we can try to roll everything out at once.

[2022-05-19 17:22] sheneral opened #419 "South Alameda Preference Question showing up again"
The "does anyone in your household satisfy any of the folllowing..." question is showing up again in the South Alameda preference on prod.

Let's get rid of that question altogether

![Screen Shot 2022-05-19 at 9.45.13 AM.png](https://images.zenhubusercontent.com/622f87292316976540c8d5bd/426489b7-1c78-4679-97de-bc4a56f44951)

[2022-05-19 18:52] kathyccheng opened #420 "SJ Contact Translation Updates"
Translate via Google translate contact info at the right with phone number + email. Currently content updates missing in Spanish, Chinese, Vietnamese. Need to translate the whole paragraph.

Text
For general program inquiries, you may call the Housing Department at [408-535-3860](tel:+1-408-535-3860) or email [sjhousingportal@sanjoseca.gov](mailto:sjhousingportal@sanjoseca.gov).

![image](https://

[2022-05-19 18:54] kathyccheng opened #421 "SMC Resource How it Works"
Placement of resource card: https://www.figma.com/file/tUtgsJO8XnF9Ij2dwu22EF/bloom-public-general?node-id=1955%3A8875

- Add a "How it Works?" resource card on the RENTALS section as the first card
- Add title and description in English, Chinese, Spanish, & Vietnamese
- The title links to the corresponding PDF in the corresponding language

**PDFs in English, Chinese, Spanish, & Vietnamese**:
Clo

[2022-05-19 21:59] sheneral commented on #419
looks good, thanks @seanmalbert

[2022-05-19 21:59] #419 closed

[2022-05-19 22:30] #408 closed

[2022-05-19 22:31] sheneral commented on #410
looks good on prod, closing

[2022-05-19 22:31] #410 closed

[2022-05-23 23:55] sheneral commented on #420
@ColinBuyck Could you get to this this week?

[2022-05-23 23:59] ColinBuyck commented on #420
Yep! I'll have it done before tomorrow's stand up.

[2022-05-24 20:06] kathyccheng commented on #403
@sheneral environment: https://ala.bloom.exygy.dev/additional-resources

[2022-05-25 15:57] sheneral commented on #403
Looks good

[2022-05-25 16:27] sheneral opened #426 "Alameda - Missing resource translations + string"
Looks like we're missing some resource translations before, under the section HOUSING & COMMUNITY DEVELOPMENT (HCD) HOUSING PROGRAMS ---which now will be ALAMEDA COUNTY HOUSING & COMMUNITY DEVELOPMENT (HCD) HOUSING PROGRAMS

These resource cards already exist for English, but not for the other languages.

![Screen Shot 2022-05-25 at 8.58.52 AM.png](https://images.zenhubusercontent.com/622f87292316

[2022-05-25 20:19] kathyccheng opened #427 "Alameda - New AMI Charts"
Add 2 New AMI Charts to Alameda County
* Alameda County TCAC 2022 - https://docs.google.com/spreadsheets/d/1LOUWj_bqtCcGtRyq_jrr4aTYVJzmtzpItYVZVL0Yl3k/edit#gid=30284428
* Alameda County HUD 2022 - https://docs.google.com/spreadsheets/d/1LOUWj_bqtCcGtRyq_jrr4aTYVJzmtzpItYVZVL0Yl3k/edit#gid=657825290
* Bring over script from Detroit to make adding AMI charts easier, do this on hba dev and then merg

[2022-05-25 20:19] kathyccheng opened #428 "Alameda - Update Veteran Program"
**Notes**
* Add "None of these apply to me" option to the State of California - Veterans program
* Remove the (check all that apply) from the question

![image](https://user-images.githubusercontent.com/3453407/170366662-76232eba-bafc-45b5-b755-3b9ec4627490.png)

[2022-05-25 22:15] kathyccheng commented on #420
https://sj.bloom.exygy.dev/additional-resources

[2022-05-25 22:21] sheneral commented on #420
looks good!

[2022-05-25 22:21] #420 closed

[2022-05-25 23:56] jaredcwhite commented on #395
@kathyccheng @slowbot Can you remind me what where this link should go again? There was language we left off of the confirmation page we were planning to add back in just for Alameda, but I'm not sure what it would point to.

reference: https://www.figma.com/file/tUtgsJO8XnF9Ij2dwu22EF/bloom-public-general?node-id=1163%3A8735

[2022-05-26 15:11] kathyccheng commented on #395
@jaredcwhite it should go to the Get Prepared for Placement section on the How to Apply page

[2022-05-26 18:47] kathyccheng opened #430 "SMC - Update AMI Tables"
Add 2 New AMI tables for San Mateo County

San Mateo County HUD 2022 - https://docs.google.com/spreadsheets/d/1LOUWj_bqtCcGtRyq_jrr4aTYVJzmtzpItYVZVL0Yl3k/edit#gid=2013588694

San Mateo County TCAC - https://docs.google.com/spreadsheets/d/1LOUWj_bqtCcGtRyq_jrr4aTYVJzmtzpItYVZVL0Yl3k/edit#gid=1419008907

[2022-05-26 20:22] kathyccheng commented on #393
@jaredcwhite wasn't quite sure where to put this but here's translations for the button

Read About How It Works
Spanish: Lea acerca de cómo funciona
Vietnamese: Đọc về cách nó hoạt động
Chinese: 閱讀它是如何工作的
Filipino: Basahin ang Tungkol sa Paano Ito Gumagana

[2022-05-31 17:02] seanmalbert commented on #393
@kathyccheng ,
This should be ready for QA at https://ala.bloom.exygy.dev

[2022-05-31 17:50] kathyccheng opened #432 "Alameda - Application Terms Page Content + Translation Updates"
**Acceptance Criteria**
* The date should show the due date of the application, not the default text
* The second bullet should change depending on the whether the listing is First Come First Serve or Lottery

**Copy**
English: This application must be submitted by [Date]
Spanish: Esta solicitud deberá presentarse antes del [Date]
Vietnamese: Đơn đăng ký này phải được nộp trước ngày [Date]
Chinese

[2022-05-31 18:23] kathyccheng opened #433 "Alameda - Get Assistance Page Missing Translations"
**Acceptance Criteria**
* When I am on the Get Assistance Page, the 2 new sections - How to Apply and Additional housing opportunities and resources - need translations in each language - Spanish, Vietnamese, Chinese, Filipino
* When I am on the Get Assistance Page in Vietnamese, then I don't see the contact information on the side

**Copy**
English: How to apply to affordable housing
Spanish: Cóm

[2022-05-31 20:28] kathyccheng opened #435 "Alameda - Resources Page in Filipino"
**Acceptance Criteria**
* When I'm on the Resources page in Filipino, I expect to see all of the resources in English since we don't have the translations right now. Right now, it just doesn't show any of them

![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/6474841b-0819-4aef-a79e-790e4f6c327c)

[2022-05-31 20:35] kathyccheng opened #436 "Alameda - Missing Translations Preferences Page"
Acceptance Criteria
* When I'm on a Preference Page, then I expect to see the general Preference Headers translated in Filipino.It looks to be there in the other languages

Copy
English: Your household may qualify for the following housing preferences
Filipino: Maaaring maging kwalipikado ang iyong sambahayan para sa mga sumusunod na kagustuhan sa pabahay

English: If you qualify for this preferen

[2022-05-31 20:41] kathyccheng opened #437 "Alameda - Confirmation Page Missing Translations"
**Acceptance Criteria**
* When I'm on the Confirmation Page for a Lottery type listing, then I expect to see the lottery language in each of the languages. Right now, it looks like it's English instead of the different languages
* When I'm on the Confirmation Page for a FCFS type listing, then I expect to see the FCFS language in each of the languages. Right now it looks like it's Filipino for eac

[2022-05-31 20:42] kathyccheng commented on #393
Closing this one, updates captured in new issues

[2022-05-31 20:42] #393 closed, assigned to jaredcwhite

[2022-05-31 22:54] jaredcwhite commented on #432
@YazeedLoonat On that date issue, can you confirm it's related to something related to the backend data? I'm pretty sure we're just formatting whatever's coming over the wire.

[2022-06-01 01:55] jaredcwhite commented on #433
The contact info is the same one as the Resources page, so we can tackle that within that batch of work (but I'll make it default to English in the meantime).  Regarding those two content sections, I think I'll need the translations for those. Didn't see them in existing materials.

[2022-06-01 22:29] #435 closed

[2022-06-01 22:39] kathyccheng commented on #432
@jaredcwhite the due date still looks to be fixed

[2022-06-01 22:39] kathyccheng commented on #437
This looks good

[2022-06-01 22:39] #437 closed

[2022-06-01 22:41] kathyccheng commented on #436
This looks good

[2022-06-01 22:48] kathyccheng opened #439 "Alameda - Missing Preferences in Filipino - Pt 2"
**Acceptance Criteria**
* One more preference page I missed still needs translating in Filipino

**Copy**
English: Based on the information you have entered, your household has not claimed any housing preferences.
Filipino: Batay sa impormasyong iyong inilagay, ang iyong sambahayan ay hindi nag-claim ng anumang mga kagustuhan sa pabahay.

English: You will be in the general pool of applicants.
Fil

[2022-06-02 00:11] YazeedLoonat commented on #432
Hey @jaredcwhite I do think there is something wrong with the application due date that shows up on the `Terms` page of the `Review` step

if you have a listing with no application due date I think thats what is causing the issue here.

for example on: https://housing.acgov.org/listings

there are 2 listings, `Embark Apartments` has no application due date and the date that shows up on the term is

[2022-06-02 01:59] jaredcwhite commented on #432
@YazeedLoonat OK, hmm, I suppose we've never actually supported applications without a due date for that particular form step.

@kathyccheng Maybe something we need to address first in core, or backport a fix from here?

[2022-06-02 15:30] kathyccheng commented on #432
Ah this is a great catch guys!! I'll create a new issue to handle it but yeah I think we should probably remove that first sentence and probably first bullet for no application due date listings

[2022-06-02 15:41] #433 closed

[2022-06-02 15:41] kathyccheng commented on #439
Looks good!

[2022-06-02 21:49] #432 closed

[2022-06-08 18:04] sheneral commented on #426
Hmm I'm not seeing the 2 translated resource cards in the other languages? @ColinBuyck

[2022-06-13 16:29] kathyccheng commented on #395
LGTM!

[2022-06-13 16:29] #395 closed

[2022-06-14 21:40] sheneral commented on #409
Looks good

[2022-06-14 21:40] #409 closed

[2022-06-14 21:43] sheneral commented on #426
looks good

[2022-06-14 21:43] #426 closed

[2022-06-16 23:14] sheneral opened #446 "SJ - New AMI Charts"
Need to add 2 new AMI charts to SJ

San Jose HCD Income Limits 2022: https://docs.google.com/spreadsheets/d/1LOUWj_bqtCcGtRyq_jrr4aTYVJzmtzpItYVZVL0Yl3k/edit#gid=1991387615

San Jose HUD/HOME 2022:
https://docs.google.com/spreadsheets/d/1LOUWj_bqtCcGtRyq_jrr4aTYVJzmtzpItYVZVL0Yl3k/edit#gid=1795921255

[2022-06-23 15:40] kathyccheng opened #448 "Ala - New HOPWA Program"
Add a new HOPWA program to Alameda

HOPWA Program copy https://docs.google.com/spreadsheets/d/1JTeav0mwBfjTV5mRJ7sJ0gJuEmSmCKXDGmFkAzuftUo/edit#gid=721005051

[2022-06-23 21:26] sheneral commented on #427
i know this is already in but looks good

[2022-06-23 21:26] #427 closed

[2022-06-23 21:44] sheneral commented on #430
LGTM

[2022-06-23 21:44] #430 closed

[2022-06-29 20:38] kathyccheng opened #449 "SJ - How It Works"
As a resident
I want a greater overview of affordable housing
So that I can better understand this complicated system

**Acceptance Criteria**
* When I am on the homepage, then I will see the homepage widget
* When I click on the Read More, it will take me to the new how it works page
* When I click on Get Assistance, it will take me to a new general page which will have the how it works and exist

[2022-06-30 20:56] kathyccheng opened #450 "SMC - How it Works"
As a resident
I want a greater overview of affordable housing
So that I can better understand this complicated system

**Acceptance Criteria**
* When I am on the homepage, then I will see the homepage widget
* When I click on the Read More, it will take me to the new how it works page
* When I click on Get Assistance, it will take me to a new general page which will have the how it works and exist

[2022-07-06 23:39] sheneral opened #451 "SMC - Update TCAC 2022 AMI Table Label"
Let's update the TCAC 2022 AMI chart to say "San Mateo County TCAC 2022"

![Screen Shot 2022-07-06 at 4.26.21 PM.png](https://images.zenhubusercontent.com/622f87292316976540c8d5bd/049e9b9d-9c93-4045-b6c4-ca15d1f0bc86)

[2022-07-13 21:12] #428 closed

[2022-07-14 17:42] sheneral opened #454 "SMC - change footer contact email"
The contact email in the [footer](https://smc.housingbayarea.org/ ) currently has housing@smchousing.org as the mailto address

Let's change it to doorway@smchousing.org, per our SMC stakeholders

QA Notes:
Start here: https://smc.bloom.exygy.dev/
1. Scroll down to contact button in footer
2. Verify that it leads to the updated address above.

[2022-07-19 21:26] sheneral commented on #421
LGTM

[2022-07-19 21:26] #421 closed

[2022-07-27 17:54] emilyjablonski opened #456 "Investigate why migrations adding new preferences / programs are not working on a local reseed"
We have a few migrations which insert a new preference or program, and then attempt to insert a relationship to a jurisdiction with that new preference or program. They work just fine if you are just running the migration. On a reseed however, while the program or preference gets added, the relationship to the jurisdiction does not.

Example migrations:
1658941145026-new-hopwa-program.ts

[2022-08-02 17:41] kathyccheng commented on #448
LGTM

[2022-08-02 17:41] #448 closed

[2022-08-17 20:42] kathyccheng opened #461 "SMC - Add Translations to SMC Resources Page"
As a resident in San Mateo Count,
I might want to see the resources in different languages
In case I don't understand English

**Acceptance Criteria**
* When I go to the Resources page and click on the languages, then I will see the Resources page translated into Chinese, Spanish and Vietnamese

**Notes**
* Right now, all translations should be missing from SMC
* There is a script that can go from

[2022-08-18 15:34] kathyccheng commented on #454
LGTM

[2022-08-18 15:34] #454 closed

[2022-08-24 00:47] seanmalbert commented on #451
This can be reviewed on https://partners.housingbayarea.org/

[2022-08-24 23:35] sheneral commented on #451
LGTM

[2022-08-24 23:35] #451 closed

[2022-08-25 00:59] jaredcwhite opened #464 "Alameda - Missing translations on Get Assistance page"
Something we missed in the last round of working on new content:

<img width="1063" alt="image" src="https://user-images.githubusercontent.com/658496/186550199-7a1455e0-899d-4299-84eb-21a61e37b320.png">

[2022-08-25 00:59] jaredcwhite commented on #464
Can we use the same strings we did for SJ?

[2022-08-25 15:17] kathyccheng commented on #449
LGTM

[2022-08-25 15:17] #449 closed

[2022-08-25 15:30] kathyccheng commented on #464
@jaredcwhite yep!

[2022-08-29 16:57] kathyccheng commented on #446
LGTM

[2022-08-29 16:57] #446 closed

[2022-09-01 22:46] kathyccheng opened #467 "SJ - Add link in How it Works"
Add link to "visit the affordable housing portal" to the listings page

![image.png](https://images.zenhubusercontent.com/5f0361f3c34cb3aabaf096f2/1155e023-7229-4c68-8569-16cf31d96e2f)

[2022-09-09 16:05] emilyjablonski commented on #467
@kathyccheng what link is this / where does it go?

[2022-09-12 17:03] kathyccheng commented on #467
@emilyjablonski that line in the screenshot "visit the affordable housing portal" should go to /listings on SJ

[2022-09-13 15:14] kathyccheng opened #477 "What to Expect - Confirmation Email Updates"
As a resident
I want to better understand the process for a waitlist vs vacant unit opportunities
So that I can be prepared

**Acceptance Criteria**
* When I receive an email after I have submitted an application in Alameda, SJ and SMC, then I will see different what to expect text for Waitlist, FCFS, and Lottery type listings

**Notes**
* Translations are still pending
* It's only in the What hap

[2022-09-13 17:45] emilyjablonski commented on #467
QA Notes: At the moment we don't have translations that include the separation of the newly linked string, so we cannot update this in other languages until we get those translations. The offline decision was to just add it in English right now.

Check out the how it works page and test out the new link.

[2022-09-14 19:36] kathyccheng opened #489 "SMC - Application What to Expect Overrides"
As a resident in SMC
I want to see translations for the What to Expect updates

**Acceptance Criteria**
* When I am on the listings detail page What to expect, listings detail page banner, application get started, application terms, and application confirmation then I will be able to see in English, Spanish, Chinese and Vietnamese

**Notes**
* Add in translations for SMC only, not Core

**Translat

[2022-09-14 19:36] kathyccheng opened #490 "Ala - What to Expect Ala Overrides"
As a resident in SMC
I want to see translations for the What to Expect updates

**Acceptance Criteria**
* When I am on the listings detail page What to expect, listings detail page banner, application get started, application terms, and application confirmation then I will be able to see in English, Spanish, Chinese, Vietnamese and Filipino

**Notes**
* Add in translations for Ala only, not Core
*

[2022-09-14 19:37] kathyccheng opened #491 "SJ - What to Expect Overrides"
As a resident in SJ
I want to see translations for the What to Expect updates

**Acceptance Criteria**
* When I am on the listings detail page What to expect, listings detail page banner, application get started, application terms, application confirmation and application confirmation email, then I will be able to see in English, Spanish, Chinese and Vietnamese

**Notes**
* Add in translations for

[2022-09-14 21:34] kathyccheng commented on #467
LGTM

[2022-09-14 21:34] #467 closed

[2022-09-20 15:12] ludtkemorgan opened #492 "Standardize the Markdown css between Jurisdictions and Core"
The override css for Markdown in the bay area jurisdictions has a lot of unneeded code for the various jurisdictions. For example in SMC under `.markdown` in `override.scss` there are mentioned class names that aren't anywhere in the code. `.large-numbers` is a good example of this.

There are several things that can be tackled here:
- Cleanup the markdown override css code that isn't used anywher

[2022-09-21 15:57] kathyccheng commented on #461
LGTM

[2022-09-21 15:57] #461 closed

[2022-09-21 19:14] kathyccheng opened #493 "SJ - Get Assistance page link"
**Acceptance Criteria**
* When I click on the Get Assistance link in SJ, it should go to /get-assistance not the external city site

[2022-09-22 15:49] kathyccheng commented on #493
This is a deploy thing, handled by environment variable

[2022-09-26 15:51] kathyccheng commented on #450
LGTM

[2022-09-26 15:51] #450 closed

[2022-09-27 00:11] jaredcwhite commented on #491
@kathyccheng I just noticed this—the Spanish text for the Terms and Confirmation is actually still English. Somehow the translations got missed there.

[2022-09-27 22:22] jaredcwhite commented on #492
FYI I'm doing some of this now as part of https://github.com/bloom-housing/bloom/issues/3032 and related issues

[2022-09-28 21:09] kathyccheng opened #497 "SJ - Link Listings on How it Works Page"

[2022-10-13 16:00] kathyccheng opened #509 "What to Expect - Application Screens HBA Clean Up"
**Staging Environments**
* SJ
* SMC
* Ala

**Application Screens**
* Get Started
* Terms
* Confirmation

Make sure these updates percolate to all staging environments, might need to override existing custom work.

[2022-10-19 18:38] #477 closed

[2022-10-21 23:45] jaredcwhite commented on #491
@kathyccheng At the bottom where it has the text "Applicants will be reviewed in the order received until all vacancies are filled" — I'm not sure where that's actually supposed to go. There's no string like that currently in the repo anywhere…?

[2022-10-21 23:56] jaredcwhite commented on #491
@kathyccheng I'm actually struggling with the precise order of text for "What to Expect" on the listing page for each of the three cases and what is shown initially and what is behind the "read more" toggle. Can we reformat this so it just shows the exact order of text from top to bottom for Waitlist, Lottery, and FCFS?

[2022-10-22 02:39] jaredcwhite commented on #491
Oh, and it also looks like the Spanish translation is still missing for "Eligible applicants will be placed on the waitlist on a first come first serve basis until waitlist spots are filled."

[2022-10-26 15:46] kathyccheng opened #525 "HBA - Add GA4 tag"
As the jurisdictions in the bay,
I want the public housing portals to have the latest analytics tracking
So that I can continue to analyze web traffic

**Acceptance Criteria**
* When I am on every page on the SMC, SJ, or Ala public portals, then I should see the new GA4 tracking snippet in the head instead of the old one
* When I go to the new GA4 property in each of the jurisdictions, then I shou

[2022-10-26 18:57] kathyccheng commented on #491
@jaredcwhite noticing a few things off, this is for FCFS Vacant Unit

**Confirmation Screen**
* Looks like the translations are all Spanish in Spanish, Vietnamese and Chinese
![image](https://user-images.githubusercontent.com/3453407/198112434-b099e794-f6a2-4ba9-a2f6-30fd86bc743b.png)
![image](https://user-images.githubusercontent.com/3453407/198112491-2e84ef02-9ba9-4337-b632-d11be501f7da.png)

**

[2022-10-26 19:43] jaredcwhite commented on #491
@kathyccheng Ah, so for the Confirmation page there was a code-level issue that was making switching languages not work (why it stayed on Spanish). For terms, I actually did miss some strings. Working on a fix for both now.

[2022-10-26 21:24] jaredcwhite commented on #491
@kathyccheng Sorry for the wait there, updated the PR so it should be showing the appropriate translated strings now.

[2022-10-27 14:47] kathyccheng commented on #491
LGTM thanks @jaredcwhite!

[2022-10-27 14:48] #491 closed

[2022-10-27 15:10] kathyccheng opened #527 "SJ - Update Resource Content"
**Acceptance Criteria**
* When I'm on the resources page in SJ only, I want to see the following resources updated

**Content**
https://drive.google.com/file/u/1/d/19dDZ7CKyY2E8o0u9ZvoJ1tiAKrPmpDxc/view?usp=docs_web

[2022-10-31 18:25] #509 closed

[2022-11-02 20:06] kathyccheng opened #535 "HBA - Terms Update Translations"
Acceptance Criteria
* The last line of the terms should read the new content
* The translations should also reflect that in each jurisdiction

**Notes**
* There's a Core issue that should handle the baseline update in English, but we'll have to add the translations in each jurisdiction separately

Old Content:
I declare that the foregoing is true and accurate, and acknowledge that any misstatement

[2022-11-02 21:56] kathyccheng commented on #527
FYI: https://github.com/housingbayarea/bloom/pull/462

[2022-11-10 17:14] kathyccheng opened #538 "GA Tracking Issue - SJ"
Home page + browse page tracking fine
Listing details pages
It's only in SJ
We were looking at data Jan to June 2022
Also chance it's a Netlify issue

[2022-11-14 19:26] emilyjablonski commented on #527
QA Notes:
https://sj.bloom.exygy.dev/additional-resources
Ensure the card text matches the changes requested in the issue.

[2022-11-16 20:40] #538 closed

[2022-11-21 23:43] jaredcwhite opened #555 "The Filipino translation shouldn't be accessible on the Application Get Started page"
When you go to apply to a particular listing, e.g.: https://smc.housingbayarea.org/applications/start/choose-language?listingId=9398aea3-ef45-4eb4-97fb-150941618b8f

there's an option for the Filipino language, yet that's not one of the site's configured locales so it 404s.

<img width="559" alt="image" src="https://user-images.githubusercontent.com/658496/203179630-3edb085f-3439-417b-a8fe-4ba50bb

[2022-11-29 17:49] iph-97 commented on #525
**SMC**

<script async src="https://www.googletagmanager.com/gtag/js?id=G-CF6EGE0375"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CF6EGE0375');
</script>

**SJ**

<script async src="https://www.googletagmanager.com/gtag/js?id=G-92LSKY0KHG"></script>
<script>
  window.dataLayer = window.